
.add-div {
margin-left:-4px;
text-align:center;
border:dashed 1px #ccc;
cursor:pointer;
}

.add-div img {
width:39px;
height:39px;
margin-top:95px;
margin-bottom:15px;
}

.add-div p {
font-size:15px;
color:#a9afb3;
}

.sub-info {
height:50px;
}

.sub-info img:nth-child(2) {
position:relative;
top:11px;
left:980px;
}

.sub-info p:nth-child(1) {
font-size:13px;
float:right;
display:inline-block;
line-height:47px;
color:#676767;
margin-right:20px;
}

.sub-info p:nth-child(2) {
font-size:13px;
float:left;
color:#676767;
display:inline-block;
line-height:47px;
}

.more-store-resume-div {
display:none;
}


s