.add-cert {
margin-left:-4px;
text-align:center;
border:dashed 1px #ccc;
cursor:pointer;
}

.add-cert img {
width:39px;
height:39px;
margin-top:95px;
margin-bottom:15px;
}

.add-cert p {
font-size:15px;
color:#a9afb3;
}

.cert-container:nth-child(4n) {
margin-right:0;
}

.cert-container p:nth-child(1) {
font-size:9px;
color:#a9afb3;
margin-top:22px;
margin-bottom:20px;
}

.cert-container p:nth-child(1)>img {
float:right;
width:5px;
cursor:pointer;
}

.cert-container img:nth-child(2) {
width:67px;
height:67px;
margin-bottom:18px;
}

.cert-container p:nth-child(3) {
font-size:15px;
color:#676767;
white-space:initial;
}

.cert-container p:nth-child(4) {
font-size:20px;
color:#676767;
margin-bottom:15px;
height:33px;
}

.cert-container p:nth-child(5) {
font-size:10px;
padding-top:14px;
border-top:solid 1px #dfe5ef;
color:#a9afb3;
}

.cert-container div:nth-child(6) {
display:none;
width:95px;
height:115px;
border-radius:4px;
box-shadow:0 1px 3px 0 rgba(207,207,207,0.5);
background-color:#fff;
border:solid 1px #ced3d6;
position:absolute;
top:49px;
right:26px;
}

.cert-container div:nth-child(6)>p {
font-size:13px;
text-align:left;
line-height:38px;
color:#676767;
margin:0;
padding:0 15px;
}

.sub-info {
height:50px;
}

.sub-info img:nth-child(2) {
position:relative;
top:11px;
left:980px;
}

.sub-info p:nth-child(1) {
font-size:13px;
float:right;
display:inline-block;
line-height:47px;
color:#676767;
margin-right:20px;
}

.sub-info p:nth-child(2) {
font-size:13px;
float:left;
color:#676767;
display:inline-block;
line-height:47px;
}

.more-store-resume-div {
display:none;
}

.cert-container,.cert-container-new {
position:relative;
display:inline-block;
width:167px;
height:266px;
object-fit:contain;
background-color:#fafcfd;
border:solid 1px #e2e8f0;
margin-right:20px;
margin-bottom:20px;
border-radius:4px;
vertical-align:top;
text-align:center;
padding:0 30px;
}

.cert-container:focus,.cert-container:hover {
box-shadow:0 2px 5px 0 rgba(191,191,191,0.5);
border:solid 1px #c3cdd8;
}