
.add-div {
margin-left:-4px;
text-align:center;
border:dashed 1px #ccc;
cursor:pointer;
}

.add-div img {
width:39px;
height:39px;
margin-top:95px;
margin-bottom:15px;
}

.add-div p {
font-size:15px;
color:#a9afb3;
}

.sub-info {
	position:relative;
height:50px;
}

.sub-info img:nth-child(2):hover {
	cursor: pointer;
}

.sub-info p:nth-child(1):hover {
	cursor: pointer;
}

.sub-info img:nth-child(2) {
    position: absolute;
    top: 22px;
    right: 5px;
}

.sub-info p:nth-child(1) {
font-size:13px;
float:right;
display:inline-block;
line-height:47px;
color:#676767;
margin-right:20px;
opacity: 0.8;
}

.sub-info p:nth-child(2) {
font-size:13px;
float:left;
color:#676767;
display:inline-block;
    line-height: 47px;
opacity: 0.8;
}

.more-store-resume-div {
display:none;
}



.more-store-resume-p:hover{
    background-color: #f1f5f5;
}



.sub-info-select-div{
	display:none;
    width: 140px;
    height: 85px;
    border-radius: 4px;
    box-shadow: 0 1px 3px 0 rgba(207,207,207,0.5);
    background-color: #fff;
    border: solid 1px #ced3d6;
    position: absolute;
	top: 39px;
    right: 4px;
    transform: none;

    z-index: 2;
}


.sub-info-select-p{
	    width: auto;
    transform: initial;
    font-size: 13px;
    text-align: left;
    line-height: 38px;
    color: #676767;
    margin: 0;
    padding: 0 15px;
}
.sub-info-select-p:hover{
	cursor: pointer;
    background-color: #f1f5f5;
}



.sub-info-select-p.active{
	color: #4c80f1;
}

.dialog-header-menu {
    height: 49px;
}

.total-count {
    font-size: 13px;
    float: left;
    display: inline-block;
    line-height: 47px;
    color: #676767;
    margin-right: 20px;
    opacity: 0.8;
}
