body {
margin:0;
}

#refresh_record:hover{
  cursor: pointer;
}
#header {
height:850px;
object-fit:contain;
background-color:rgba(14,49,89,0.85);
}

.navbar-mypage {
height:60px;
background-color:#3c435f;
border:solid 1px #2e344d;
}

.container {
width:1680px;
margin:auto;
}


#home_icon {
width:193px;
height:30px;
object-fit:contain;
}

.check-icon {
width:11px;
height:6px;
object-fit:contain;
margin:2px 18px;
}

#user-small-icon {
width:32px;
height:32px;
object-fit:contain;
border:solid 1px #8e9aca;
border-radius:20px;
vertical-align:middle;
}

ul {
list-style-type:none;
overflow:hidden;
border:none;
}

.navbar-mypage ul {
height:62px;
margin:0;
padding:0 63px;
}

.navbar-mypage li {
border:none;
float:right;
height:18px;
margin:9px;
padding:0 19px;
}

.navbar-mypage li:nth-child(1) {
float:left;
}

.navbar-mypage li:nth-child(2) span {
margin-left:12px;
line-height:40px;
}

.navbar-mypage li:nth-child(3) {
margin-top:21px;
border-right:2px solid #64678b;
padding-right:37px;
}

li a {
display:inline-block;
color:#FFF;
height:18px;
text-decoration:none;
font-size:14px;
text-align:left;
vertical-align:top;
}

.grid {
width:940px;
margin:auto;
padding:0 25px;
}

#header-1 {
height:150px;
background-color:#fff;
}

#header-1 div:nth-child(1) {
margin-right:27px;
margin-top:30px;
border-radius:5px;

display:inline-block;
}

#header-1 div p:nth-child(1) {
color:#676767;
font-size:27px;
font-weight:700;
margin:0;
}

#header-1 div p:nth-child(2) {
color:#676767;
font-size:16px;
font-weight:300;
margin:0;
}

#header-2 {
height:60px;
background-color:#fff;
border-top:solid 1px #d8d8d8;
border-bottom:solid 1px #d8d8d8;
color:#676767;
}

#header-2 ul {
overflow:visible;
margin:0;
padding:0;
}

#header-myresume {
font-weight:700;
border-bottom:solid 5px #4c80f1;
}

#header-2 li:hover {
cursor:pointer;
}

#header-2 li a {
font-size:15px;
text-align:center;
color:#676767;
}

#header-2 li a:active {
font-weight:700;
}

#user-big-icon {
vertical-align:-30px;
width:147px;
height:145px;
}

#user-big-icon:hover {
content:url("/img/myresume/upload.svg");
}

#header-2 li {
margin-right:63px;
text-align:center;
float:right;
padding: 15px 16px;
}

#header-2 li:nth-child(1) {
margin-right:-30px;
}

#main-body {
padding-bottom:52px;
margin-top:-3px;
background-color:#f2f5f8;
color:#676767;
}


.grid>p:nth-child(1) {
font-size:26px;
padding:30px 0 10px;
}

.grid>p:nth-child(2) {
font-size:13px;
font-weight:300;
color:#4a4a4a;
padding-bottom:30px;
border-bottom:1px solid #e1e6f0;
}

.grid>p:nth-child(4) {
font-size:13px;
float:right;
color:#4a4a4a;
display:inline-block;
line-height:47px;
}

.grid>img:nth-child(3) {
float:right;
width:21px;
height:21px;
margin-top:15px;
margin-left:8px;
}

.spec-div {
width:880px;
border-radius:4px;
background-color:#fff;
border:solid 1px #eff0f4;
margin-top:48px;
    padding: 18px 31px 18px 29px;
}

.spec-detail-div {
margin-bottom:30px;
}

.spec-title {
border-bottom:solid 2px #dfe5ef;
padding:0 0 15px 10px;
}

.spec-title span:nth-child(1) {
font-size:16px;
color:#676767;
font-weight:700;
}

.spec-title span:nth-child(2) {
float:right;
}

.add-span {
margin-right:12px;
line-height:22px;
float:right;
font-size:12px;
color:#4a90e2;
text-decoration:none;
}

.spec-left {
display:inline-block;
width:220px;
     padding: 0 10px 0 20px;
}

.spec-left span {
font-size:13px;
color:#a9afb3;
padding-left:12px;
}

.spec-center {
  position: relative;
display:inline-block;
width:124px;
vertical-align:middle;
}

.spec-center img:nth-child(1) {
width:auto;
height:auto;
max-width:60px;
max-height:60px;
vertical-align:-50px;
border-radius:5px;
}

.spec-center img:nth-child(2) {
  position: relative;
width:15px;
height:8px;
margin-left:31px;
}


.spec-hover-detail-1{
      display: none;
    position: absolute;
    top: -24px;
    left: 32px;
    border-radius: 4px;
    background-color: #888d92;
    box-shadow: 0 1px 5px 0;
    padding: 4px 8px 4px 7px;
    color: #ffffff;
    font-size: 11px;
    width: 130px;

}

.spec-hover-detail-2{
      display: none;
    position: absolute;
    top: -24px;
    left: 36px;
    border-radius: 4px;
    background-color: #888d92;
    box-shadow: 0 1px 5px 0;
    padding: 4px 8px 4px 7px;
    color: #ffffff;
    font-size: 11px;
    width: 120px;

}


.spec-right {
vertical-align:top;
display:inline-block;
width:390px;
color:#676767;
line-height:24px;
}

.spec-right button {
position:relative;
margin-bottom:-31px;
top:-53px;
float:right;
right:-73px;
width:70px;
height:30px;
border-radius:3px;
background-color:#fff;
border:solid 1px #ced3d6;
font-size: 12px;
font-weight: normal;
color:#676767;
}

.spec-right button a {
font-size:12px;
color:#676767;
text-decoration:none;
}

.spec-right p {
color:#676767;
text-align:left;
}

.spec-right p:nth-child(1) {
font-size:15px;
font-weight:700;
}

.expire {
display:inline-block;
width:52px;
height:15px;
border-radius:3px;
background-color:#fff;
border:solid 1px #ee7a43;
font-size:9px;
color:#ee7a43;
line-height:13px;
text-align:center;
margin-top:5px;
margin-left:11px;
}

.spec-right .plus {
display:inline-block;
line-height:13px;
text-align:center;
margin-left:11px;
width:40px;
height:15px;
border-radius:3px;
background-color:#babecd;
font-size:9px;
color:#fff;

     vertical-align: middle;
}

.modal-body #school {
width:483px;
margin-bottom:30px;
}

.modal-body .major {
width:262px;
}

.modal-body .add-major {
width:231px;
}

#major-div img {
width:15px;
vertical-align:-7px;
margin-left:11px;
}

#major-div img:hover{
  cursor: pointer;
}


.study-period {
margin-left:-4px;
width:117px;
}

select#study-field {
margin-top:-10px;
height:41px;
}

#study-period-span {
vertical-align:24px;
color:#ced3d6;
font-size:22px;
}

#grade-span {
vertical-align:-5px;
color:#ced3d6;
font-size:14px;
margin:0 4px;
}

#score {
vertical-align:top;
width:71px;
}

.selectize-input {
width:100px;
font-size:13px;
color:#676767;
}

.selectize-control {
display:inline-block;
}

select:required:invalid {
font-size:13px;
font-weight:400;
color:#d1d1d1;
}

.select-100 {
display:inline-block;
width:95px;
vertical-align:top;
margin-right:2px;
}

.study-field-div {
vertical-align:2px;
}

#language-name {
width:358px;
margin-left:5px;
}

#expire-checkbox {
display:inline-block;
color:#a9afb3;
font-size:12px;
vertical-align:25px;
margin-left:10px;
}

#select-footer {
position:fixed;
width:calc(100% - 240px);
bottom:0;
height:41px;
background-color:#1d2533;
box-shadow:0 -2px 10px 0 rgba(151,151,151,0.5);
display:none;
padding:15px 120px;
}

#select-footer img:nth-child(1) {
width:20.2px;
height:20.2px;
vertical-align:middle;
margin-right:10px;
}

#select-footer span:nth-child(2) {
font-size:14px;
font-weight:700;
color:#85ff00;
line-height:44px;
}

#select-footer span:nth-child(3) {
font-size:14px;
color:#fff;
}

#select-footer button {
float:right;
width:110px;
height:40px;
border-radius:4px;
box-shadow:0 1px 1px 0 rgba(0,0,0,0.07);
background-color:rgba(255,255,255,0.2);
border:rgba(255,255,255,0.2);
font-size:13px;
color:#fff;
margin-left:20px;
}

#select-footer a {
text-decoration:none;
color:#FFF;
}

#select-footer button:nth-child(4) {
width:40px;
}

    
.modal-body{
  padding-bottom: 16px;
}   

.error-message{

  top: -12px;
}
#education-add-dialog .selectize-input {
width:100%;
}

#school + div .selectize-dropdown-content {
background-color:#f8f8f8;
}

#education-add-dialog #is-graduate {
width:100px;
margin-left:2px;
margin-right:0;
}

#education-add-dialog .add-span {
cursor:pointer;
font-weight:400;
margin-right:0;
}

#header-1 div:nth-child(2),#header-1 div:nth-child(3) {

     vertical-align: 20px;
width:20%;
display:inline-block;
}

.spec-body-default,.private-spec-body-default {
height:102px;
border-bottom:solid 1px #dfe5ef;
color:#a9afb3;
font-size:13px;
text-align:center;
vertical-align:middle;
line-height:102px;
}

.spec-body,.private-spec-body {
border-bottom:solid 1px #dfe5ef;
padding:14px 10px 17px;
}

.spec-body-loading{
  display: none;
border-bottom:solid 1px #dfe5ef;
padding:22px 10px 17px;
}


.spec-body-loading .spec-right{
  line-height: 22px;

}

.spec-body-loading .default {
    height: 104px;
    overflow: hidden;
    position: relative;
    background: linear-gradient(to right, #e9e9e9 0%, #e9e9e9 33%, #d0d0d0 66%, #e9e9e9 100%);
    background-size: 800px 104px;
    animation: loading 1s linear infinite forwards
}

.spec-body-loading .default-1 {
    height: 104px;
    overflow: hidden;
    position: relative;
    background:linear-gradient(to right, #e9e9e9 0%, #e9e9e9 33%, #d0d0d0 66%, #e9e9e9 100%);
    background-size: 800px 104px;
    animation: loading 1s linear infinite forwards
}

.spec-body-loading .default-2 {
    height: 104px;
    overflow: hidden;
    position: relative;
    background: linear-gradient(to right, #e9e9e9 0%, #e9e9e9 33%, #d0d0d0 66%, #e9e9e9 100%);
    background-size: 800px 104px;
    animation: loading 1s linear infinite forwards
}

@keyframes loading {
    0% {
        background-position-x: -800px;
    }
}


.spec-right p:nth-child(2),.spec-right p:nth-child(3) {
font-size:13px;
}

option[value=""][disabled],#resume-store-div {
display:none;
}

#language-grade,#cert-name,#cert-grade {
width:464px;
}



p,#cert-circle-dialog p, .line-dialog p {
margin:0;
}


.line-dialog img {
width:80px;
height:80px;
}

.line-dialog span {
width:6px;
height:6px;
display:inline-block;
border-radius:10px;
background-color:#dadada;
    vertical-align: 35px;
    margin: 1.5px;
}

.line-dialog div:first-child {
padding:43px 43px 24px;
}


.line-dialog {
width:330px!important;
height:250px!important;
border-radius:4px;
background-color:#fff;
box-shadow:0 2px 3px 0 rgba(64,64,64,0.5);
text-align:center!important;
}

.line-dialog a {
display:none!important;
text-align:center;
}

.line-dialog p:nth-child(2) {
font-size:15px;
font-weight:700;
line-height:30px;
color:#676767;
}

.line-dialog p:nth-child(3) {
font-size:11px;
font-weight:400;
line-height:20px;
color:#676767;
}







.default{
	display: inline-block;
}


.spec-title .default{
  width: 68px;
  height: 13.4px;
  border-radius: 3px;
  background-color: #d8d8d8;
}

#main-body .default-1{
  width: 164px;
  height: 19px;
  border-radius: 3px;
  background-color: #d8d8d8;
  margin-bottom: 19px;
  }	

  #main-body .default-2{
  width: 610px;
  height: 19px;
  border-radius: 3px;
  background-color: #e9e9e9;
  }	


.spec-left .default{
	    margin-left: 8px;
  width: 164px;
  height: 14px;
  border-radius: 3px;
  background-color: #d8d8d8;

}

.spec-center .default{
  width: 60px;
  height: 60px;
  border-radius: 3px;
  background-color: #e9e9e9;

}

  #main-body  .spec-right .default-1{
	display: inline-block;
	width: 240px;
  height: 16px;
  border-radius: 3px;
  background-color: #e9e9e9;
}

  #main-body  .spec-right .default-2{
	display: inline-block;
	width: 270px;
  height: 16px;
  border-radius: 3px;
  background-color: #e9e9e9;
}

#header-1 .default-1{
	    vertical-align: 6px!important;
	    margin-top: 8px!important;
  width: 106px !important;
  height: 15px;
  border-radius: 3px;
  background-color: #d8d8d8;
}

#header-1 .default-2{
  width: 192px !important;
  height: 15px;
  border-radius: 3px;
  background-color: #e9e9e9;
}

#header-2 .default{
  width: 96px;
  height: 15px;
  border-radius: 3px;
  background-color: #d8d8d8;
  }

#spec-change-dialog tbody{
          height: 329px;
}