#resume-store-div{
    
    display: none;
}

#mycert-div{
    
    display: none;
}

#add-cert-dialog th:nth-child(1){
    width: 61px;
    text-align: center;
    padding-left: 22px;
}

#add-cert-dialog td:nth-child(1){
    width: 61px;
    text-align: center;
    padding-left: 22px;
}

#add-cert-dialog th:nth-child(2) {
    width: 53px;
}

#add-cert-dialog th:nth-child(3) {
    width: 83px;
}


#add-cert-dialog th:nth-child(4) {
    width: 150px;
}

#add-cert-dialog td:nth-child(2) {
    width: 53px;
}

#add-cert-dialog td:nth-child(3) {
    width: 83px;
}


#add-cert-dialog td:nth-child(4) {
    width: 250px;
    overflow:hidden;
}
