#resume-store-div {
    display: block;
}



#add-resumes-dialog th:nth-child(1){
    width: 61px;
    text-align: center;
    padding-left: 22px;
}

#add-resumes-dialog th:nth-child(2) {
    width: 53px;
}

#add-resumes-dialog th:nth-child(3) {
    width: 83px;

}


#add-resumes-dialog th:nth-child(4) {
    width: 235px;
}


#add-resumes-dialog td:nth-child(1){
    width: 61px;
    text-align: center;
    padding-left: 22px;
}

#add-resumes-dialog td:nth-child(2) {
    width: 53px;
}

#add-resumes-dialog td:nth-child(3) {
    width: 83px;
}


#add-resumes-dialog td:nth-child(4) {
    width: 234px;
    max-width: 234px;
}
.resumes-container{
    position: relative;
}

.resumes-container:nth-child(4n) {
margin-right:0;
}

.resumes-container p:nth-child(1) {
    font-size: 13px;
    color: #4c80f1;
    margin-top: 22px;
    margin-bottom: 20px;
    width: 221px;
    margin-left: -30px;
}

.resumes-container p:nth-child(1)>img {
position: absolute;
    font-size: 10px;
    transform: scale(calc(9/10));
    width: 4px;
    top: -0px;
    right: -2px;

    cursor: pointer;
    padding: 24px;
}


.resumes-container img:nth-child(2) {
width:67px;
height:67px;
margin-bottom:18px;
transform: none;
}

.resumes-container p:nth-child(3) {
font-size:15px;
color:#676767;
white-space:initial;
}

.resumes-container p:nth-child(4) {
font-size:20px;
color:#676767;
margin-bottom:15px;
height:33px;
}

.resumes-container p:nth-child(5) {
font-size:10px;
padding-top:14px;
border-top:solid 1px #dfe5ef;
color:#a9afb3;
}

.resumes-container div:nth-child(6) {
display:none;
width:95px;
height:115px;
border-radius:4px;
box-shadow:0 1px 3px 0 rgba(207,207,207,0.5);
background-color:#fff;
border:solid 1px #ced3d6;
position:absolute;
top:49px;
right:26px;
}

.resumes-container div:nth-child(6)>p {
          width: auto;
      transform: initial;
font-size:13px;
text-align:left;
line-height:38px;
color:#676767;
margin:0;
padding:0 15px;
}

.resumes-container,.resumes-container-new {
position:relative;
display:inline-block;
width:160px;
height:266px;
object-fit:contain;
background-color:#ffffff;
border:solid 1px #e2e8f0;
margin-right:13px;
margin-bottom:15px;
border-radius:4px;
vertical-align:top;
text-align:center;
padding:0 30px;
}

.resumes-container-new {

background: url("/img/mycert/rectangle-6.svg");
}
.resumes-container:focus,.resumes-container:hover {
box-shadow:0 2px 5px 0 rgba(191,191,191,0.5);
border:solid 1px #c3cdd8;
cursor: pointer;
}

.modal table td:nth-child(3), th:nth-child(3) {
    width: 200px;
}

.modal-footer a{
    text-decoration: underline;
     color: #4d5256;
    font-size: 13px;
    line-height: 65px;
    margin-left: 39px;
    cursor: pointer;
}

.resumes-container-new:focus,.resumes-container-new:hover {
box-shadow:0 2px 5px 0 rgba(191,191,191,0.5);
/* border: dotted 1px #cccccc; */
/*background: url("/img/mycert/rectangle-6.svg");*/
}
