body{
    margin: 0;
}
p{
    margin: 0px;
}
.header{
    border: solid 1px #dfe5ef;
    padding: 12px 112px;
    position: relative;
}


.header img{
    width: 40px;
  height: 40px;
    vertical-align: -20px;
}

.header > div {
    display: inline-block;
    width: 200px;
    vertical-align: middle;

}

.header > div p:nth-child(1){
    font-size: 15px;
  font-weight: bold;
    color: #676767;
}

.header > div p:nth-child(2){
    font-size: 13px;
    color: #676767;
}

.header  button{
    vertical-align: middle;
    float: right;
  border-radius: 4px;
  background-color: #ffffff;
  border: solid 1px #ced3d6;    
    font-size: 14px;
     text-align: center;
  color: #676767;
    margin-left: 10px;
}

.header  button:nth-child(6){
  width: 80px;
  height: 40px;
}
.header  button:nth-child(5){
  width: 100px;
  height: 40px;
}

.header  button:nth-child(4){
  width: 100px;
  height: 40px;
  font-weight: bold;
    color: #ffffff;
    background-color: #4c80f1;
    border: none;
    
}
.header  button:nth-child(4) a{
    text-decoration: none;
    color: white;
    font-weight: normal;
}
.header  button:nth-child(3){
    font-weight: bold;
    font-size: 18px;

  width: 40px;
  height: 40px;
}

.header #more-button-div{
    display: none;
  width: 95px;
  height: 115px;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(207, 207, 207, 0.5);
  background-color: #ffffff;
  border: solid 1px #ced3d6;    
    position: absolute;
    top:56px;
    right:110px;

}

.header #more-button-div p {
    cursor: pointer;
        font-size: 13px;
      font-weight: normal;
      color: #676767;
    padding: 0px 15px;
    line-height: 38px;
}

.main-body{
  background-color: #f2f5f8;
    padding: 35px 0px;
    margin: 0;
    
}

.outer-container{
    margin: auto;
  width: 736px;
  height: 1230px;
  background-color: #ffffff;
  padding-top: 27px;

  padding: 67px 65px;
    
}


.section-1{
	  	padding-left: 5px;
	  	padding-bottom: 31px;
	  	border-bottom: solid 2px #2b2c2c;
}
.section-1 h1{
	margin-top: 0px;
	margin-bottom: 29px;
	font-size: 35px;
  	font-weight: bold;
  	letter-spacing: 15px;
  	color: #2b2c2c;

}

.short-intro{
padding: 13px 10px;
  font-size: 14px ;
  line-height: 1.79;
  text-align: left;
  color: #676767;	
 word-break: keep-all;
    white-space: normal;
}

.short-intro-default{
  padding: 13px 10px;
  font-size: 14px;
  color: #a9afb3;
  height: 40px;
}

.section-1 p{
  	font-size: 12px;
  	color: #2b2c2c;
}
.resumes-detail-div {
margin-bottom:30px;
}

.resumes-title {
border-bottom: solid 1px #404d5f;
padding:19px 0 10px 10px;
}

.resumes-title span:nth-child(1) {
font-size:14px;
color:#676767;
font-weight:700;
}

.resumes-title span:nth-child(2) {
float:right;
}

.resumes-body{
	position: relative;
	border-top: solid 1px #dfe5ef;
}
.add-span {
margin-right:12px;
line-height:22px;
float:right;
font-size:12px;
color:#4a90e2;
text-decoration:none;
}


.resumes-left {
display:inline-block;
width:182px;
    padding: 17px 10px;
}

.resumes-left span {
font-size: 14px;
color: #2b2c2c;
padding-left: 10px;
}

.resumes-center {
display:inline-block;
vertical-align:middle;
font-size: 14px;

}

.resumes-center img{
width:15px;
height:8px;
margin-left: 10px;
margin-right: 22px;
      vertical-align: 0px; 
}


.resumes-right {
vertical-align:top;
display:inline-block;
width:400px;
color:#2b2c2c;
font-size: 14px;
    padding: 21px 25px;

}


.resumes-right p{
	font-size: 16px;
	font-weight: bold;
	padding-bottom: 8px;
}

.resumes-right span{

	display: inline-block;
}

.resumes-right span:nth-child(2){
	width:244px;
}

.resumes-right span:nth-child(3){
	width:96px;
}



.resumes-right img{
	position: absolute;
    right: 13px;
    top: 35px;
}

.resumes-right p:nth-child(2){
	font-size: 14px;
	font-weight: normal;
	color: #2b2c2c;
}


#rename-dialog{
  width: 500px;
}

#rename-dialog input{
  width:399px;
}

#rename-dialog .error-message{

     margin: 0px; 
}