
<div id="cert-circle-dialog" class="modal">

    <div class="ko-progress-circle" data-progress="0">
       <img src="/img/myresume/off@3x.png" alt="">
        <div class="ko-circle">
            <div class="full ko-progress-circle__slice">
                <div class="ko-progress-circle__fill"></div>
            </div>
            <div class="ko-progress-circle__slice">
                <div class="ko-progress-circle__fill"></div>
                <div class="ko-progress-circle__fill ko-progress-circle__bar"></div>
            </div>
        </div>
        <div class="ko-progress-circle__overlay"></div>
    </div>

    <p>증명서를 발급중입니다.</p>
    <p>증명서 발급을 위해 발급기관에 요청하고 있습니다.<br/>
잠시만 기다려주세요.</p>
</div>

<div id="resumes-line-dialog" class="modal line-dialog" >
    <div>
         <img src="/img/myresume/group-3.svg" alt="">
            
        <span id="circle-0"></span>
        <span id="circle-1"></span>
        <span id="circle-2"></span>
        <span id="circle-3"></span>
        <span id="circle-4"></span>
        <span id="circle-5"></span>
        
         <img src="/img/myresume/group-4.svg" alt="">
    </div>

        <p>이력서를 생성하고 있습니다.</p>
        <p>발급기관에 이력정보를 요청하고 있습니다.<br/>
            잠시만 기다려주세요.</p>
</div>

<div id="cert-line-dialog" class="modal line-dialog" >
    <div>
        <img src="/img/myresume/group-3.svg" alt="">            
        <span id="circle-0"></span>
        <span id="circle-1"></span>
        <span id="circle-2"></span>
        <span id="circle-3"></span>
        <span id="circle-4"></span>
        <span id="circle-5"></span>
        
         <img src="/img/myresume/group-4.svg" alt="">
    </div>

    <p>증명서를 발급중입니다.</p>
    <p>증명서 발급을 위해 발급기관에 요청하고 있습니다.<br/>잠시만 기다려주세요.</p>
</div>