
        <nav class="navbar-default">
            <div class="grid">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/main"><img src="/img/myresume/logo.png" id="home_icon"></a>
                    </li>

                    <li class="right">
                        <div class="Button-Shape"><a href="/signup">무료가입</a></div>
                    </li>
                    <li class="right"><a href="/signin">로그인</a></li>                   
                </ul>
            </div>
        </nav>
