    
    <nav class="navbar-mypage">
        <div class="container">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#"><img src="/img/myresume/logo@3x.png" id="home_icon"></a>
                </li>

                <li class="right">
                    <a id="header-signout" href="#"><img id="user-small-icon" src="/img/myresume/user-photo@3x.png"><span><%= email %></span><img class="check-icon" src="/img/myresume/shape@3x.png" /></a>
                    <div id="header-div-signout" style="width:100px;position: relative;display: none;top:13px;left:90px;background-color: #3c435f;color: #FFF;font-size: 14px;cursor: pointer;">Sing out</div>
                    <script>
                        $('#header-signout').click(function(){
                            if($("#header-div-signout").css("display") == "none"){
                                $("#header-div-signout").show();
                            }
                            else{
                                $("#header-div-signout").hide();
                            }
                        });
                        $("#header-div-signout").click(function() {
                            if(!!window.localStorage){
                                localStorage.clear();
                            }
                            if(!!window.sessionStorage){
                                sessionStorage.clear();
                            }
                            document.cookie = 'JWT=; expires=Thu, 01 Jan 1970 00:00:01 GMT;'
                            location.href = "/signout";
                        });
                    </script>
                </li>

                <li class="right">
                    <a href="#">기업 서비스</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div id="header-1" class="grid">
            <div>
                <img id="user-big-icon" src="/img/myresume/user-big-icon.png">
            </div>

            <div>
                <p><%= fullNameKO %></p>
                <p><%= email %></p>                
            </div>
        </div>
    </div>

    <div id="header-2">
        <div class="container">
            <div class="grid">
                <ul>
                    <li id="header-resume-store">이력서 보관함</li>
                    <li id="header-mycert">
                        증명서 보관함
                    </li>
                    <li id="header-myresume">레쥬메</li>

                </ul>

            </div>

        </div>
    </div>
