<div id="spec-change-dialog" class="modal">
    <p>이력 변경<span>My레쥬메에 반영하고자 하는 1건의 성적을 선택해주세요.</span></p>
    <div>
    <table id="spec-change-table" >
        
        <tbody class="scroll-div">
        <tr>
            <th></th>
            <th>응시일자</th>
            <th>회차</th>
            <th>시험명</th>
            <th>언어</th>
            <th>성적</th>
            <th></th>
        </tr>
        <tr>
            <td>

                <div class="abc-radio">
                    <input type="radio" name="spec-change" id="radio1" value="">
                    <label for="radio1">
                    </label>
                </div>

            </td>
            <td>2018-03-12</td>
            <td>301회</td>
            <td>OPIc</td>
            <td>영어</td>
            <td>Advanced low</td>
            
        </tr>
        <tr>
            <td>
                <div class="abc-radio">
                    <input type="radio" name="spec-change" id="radio2" value="">
                    <label for="radio2">
                    </label>

                </div>
            </td>
            <td>2018-03-12</td>
            <td>301회</td>
            <td>OPIc</td>
            <td>영어</td>
            <td>Advanced low</td>
            <td><span class="expire">만료예정</span></td>
        </tr>
        <tr>
            <td>
                <div class="abc-radio">
                    <input type="radio" name="spec-change" id="radio3" value="">
                    <label for="radio3">
                    </label>

                </div>
            </td>
            <td>2018-03-12</td>
            <td>301회</td>
            <td>OPIc</td>
            <td>영어</td>
            <td>Advanced low</td>
        </tr>

        <tr>
            <td>
                <div class="abc-radio">
                    <input type="radio" name="spec-change" id="radio4" value="">
                    <label for="radio4">
                    </label>
                </div>

            </td>
            <td>2018-03-12</td>
            <td>301회</td>
            <td>OPIc</td>
            <td>영어</td>
            <td>Advanced low</td>
        </tr>
        <tr>
            <td>
                <div class="abc-radio">
                    <input type="radio" name="spec-change" id="radio5" value="">
                    <label for="radio5">
                    </label>

                </div>
            </td>
            <td>2018-03-12</td>
            <td>301회</td>
            <td>OPIc</td>
            <td>영어</td>
            <td>Advanced low</td>
        </tr>
        <tr>
            <td>
                <div class="abc-radio">
                    <input type="radio" name="spec-change" id="radio6" value="">
                    <label for="radio6">
                    </label>

                </div>
            </td>
            <td>2018-03-12</td>
            <td>301회</td>
            <td>OPIc</td>
            <td>영어</td>
            <td>Advanced low</td>
        </tr>

        <tr>
            <td>

                <div class="abc-radio">
                    <input type="radio" name="spec-change" id="radio7" value="">
                    <label for="radio7">
                    </label>
                </div>

            </td>
            <td>2018-03-12</td>
            <td>301회</td>
            <td>OPIc</td>
            <td>영어</td>
            <td>Advanced low</td>
        </tr>
            </tbody>

    </table>
        </div>
    
    <div class="modal-footer">
        <button class="confirm-btn primary-solid-btn">확인</button>
        <button class="cancel-btn border-btn">취소</button>
    </div>
</div>

<div id="education-add-dialog" class="modal">
    <p>이력 추가 - 학력<span>레쥬메 서비스를 통해 사용하고 싶은 이력을 추가할 수 있습니다.</span></p>
    <div class="modal-body">

        <p>학교명</p>            
            <div class="error-range">
                <select name="select-0" id="school">
                    <option value="" disabled selected>교육기관의 이름을 입력해주세요. Ex) 한양대학교

                        <option value="volvo">서울대학교</option>
                        <option value="saab">한양대학교</option>
                </select>
                <div class="error-message">학교명을 입력해주세요.</div>
            </div>
        <p>전공 <a class="add-span">+추가</a></p>
        
        <div id="major-div">
            <div class="error-range">
                <div class="select-100">
                    <select name="select-1">
                            <option value="1">전공</option>
                            <option value="2">부전공</option>
                            <option value="3">복수전공</option>
                    </select>
                </div>
                <div class="select-100">
                    <select name="select-2">
                            <option value="volvo">학사</option>
                            <option value="saab">석사</option>
                    </select>
                </div>

                <input type="text" class="major" placeholder="전공을 입력해주세요. Ex) 컴퓨터 공학">
                <div class="error-message">전공을 입력해주세요.</div>
            </div>
        </div>
        
        <p>재학 기간</p>

        <div class="error-range">
            <button class="calendar"><img src="/img/myresume/icon-calendar.svg" alt=""></button>
            <input type="text" class="form-control study-period"  placeholder="YYYY-MM-DD"/>
            <span id="study-period-span">~</span>
            <button class="calendar"><img src="/img/myresume/icon-calendar.svg" alt=""></button>
            <input type="text" class="form-control study-period"  placeholder="YYYY-MM-DD"/>

            <div id="is-graduate" class="select-100 study-field-div">
                <select name="select-3" id="study-field">
                        <option value="volvo">졸업</option>
                        <option value="qwd">졸업예정</option>
                        <option value="awdwa">수료</option>
                </select>
            </div>
            
            <div class="error-message">재학기간을 입력해주세요.</div>
        </div>
        

        <p>학점</p>
        
        <div class="error-range">
            <input type="text" id="score" placeholder="Ex) 4.0">

            <span id="grade-span">/</span>
            <div class="select-100">
                <select name="select-4">

                    <option value="saab">4.5</option>
                    <option value="volvo">4.3</option>
                </select>

            </div>

            <div class="error-message">학점을 입력해주세요.</div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="confirm-btn primary-solid-btn">확인</button>
        <button class="cancel-btn border-btn">취소</button>
    </div>
</div>

<div id="cert-add-dialog" class="modal">
    <p>이력 추가 - 자격<span>레쥬메 서비스를 통해 사용하고 싶은 이력을 추가할 수 있습니다.</span></p>
    <div class="modal-body">

        <p>자격명</p>
        
        <input type="text" id="cert-name" placeholder="자격증의 이름을 입력해주세요. EX) 정보처리기사">
        

        <p>성적</p>

            <input type="text" id="cert-grade" placeholder="성적을 입력해주세요. EX) 취득">
        
        <p>유효 기간</p>

        <div>
            <button class="calendar"><img src="img/myresume/icon-calendar.svg" alt=""></button>
            <input id="certadd_startdate" type="text" class="form-control study-period"  placeholder="YYYY-MM-DD"/>
            <span id="study-period-span">~</span>
            <button class="calendar"><img src="img/myresume/icon-calendar.svg" alt=""></button>
            <input id="certadd_enddate" type="text" class="form-control study-period" placeholder="YYYY-MM-DD" />

            <div id="expire-checkbox">
                <input id="certadd_expireYn" class="styled" type="checkbox">
                <label for="certadd_expireYn">
                    만료기간 없음
                </label>
            </div>                    
        </div>

    </div>
    <div class="modal-footer">
        <button class="confirm-btn primary-solid-btn">확인</button>
        <button class="cancel-btn border-btn">취소</button>
    </div>
</div>

<div id="language-add-dialog" class="modal">
    <p>이력 추가 - 외국어<span>레쥬메 서비스를 통해 사용하고 싶은 이력을 추가할 수 있습니다.</span></p>
    <div class="modal-body">

        <p>시험명</p>
        
            <div class="select-100">
            <select id="langadd_lang" name="select-1">
                    <option value="eng">영어</option>
                    <option value="chn">중국어</option>
                    <option value="etc">기타</option>
            </select>
        </div>
        <input type="text" id="language-name" placeholder="어학 시험명을 입력해주세요. EX) OPIc">
        

        <p>성적</p>
            <input type="text" id="language-grade" placeholder="성적을 입력해주세요. EX) Advanced Low">            
        <p>유효 기간</p>

        <div>
            <button class="calendar"><img src="/img/myresume/icon-calendar.svg" alt=""></button>
            <input type="text" id="langadd_startdate" class="form-control study-period"  placeholder="YYYY-MM-DD"/>
            <span id="study-period-span">~</span>
            <button class="calendar"><img src="/img/myresume/icon-calendar.svg" alt=""></button>
            <input type="text" id="langadd_enddate" class="form-control study-period"  placeholder="YYYY-MM-DD"/>

            <div id="expire-checkbox">
                <input id="langadd_expireYn" class="styled" type="checkbox">
                <label for="langadd_expireYn">
                    만료기간 없음
                </label>
            </div>                    
        </div>
    </div>
    <div class="modal-footer">
        <button class="confirm-btn primary-solid-btn">확인</button>
        <button class="cancel-btn border-btn">취소</button>
    </div>
</div>


<div id="cert-circle-dialog" class="modal">

    <div class="ko-progress-circle" data-progress="0">
       <img src="/img/myresume/off@3x.png" alt="">
        <div class="ko-circle">
            <div class="full ko-progress-circle__slice">
                <div class="ko-progress-circle__fill"></div>
            </div>
            <div class="ko-progress-circle__slice">
                <div class="ko-progress-circle__fill"></div>
                <div class="ko-progress-circle__fill ko-progress-circle__bar"></div>
            </div>
        </div>
        <div class="ko-progress-circle__overlay"></div>
    </div>

    <p>증명서를 발급중입니다.</p>
    <p>증명서 발급을 위해 발급기관에 요청하고 있습니다.<br/>
잠시만 기다려주세요.</p>
</div>

<div id="cert-line-dialog" class="modal" >
    <div>
         <img src="/img/myresume/server-3.png" alt="">
            
        <span id="circle-0"></span>
        <span id="circle-1"></span>
        <span id="circle-2"></span>
        <span id="circle-3"></span>
        <span id="circle-4"></span>
        
         <img src="/img/myresume/group-8.png" alt="">
    </div>

        <p>증명서를 발급중입니다.</p>
        <p>증명서 발급을 위해 발급기관에 요청하고 있습니다.<br/>
잠시만 기다려주세요.</p>
    </div>



<!-- Modal HTML embedded directly into document -->
<div id="add-cert-dialog" class="modal">
    <p>증명서 발급<span>레쥬메에서 발급받고 싶은 이력을 선택해주세요.</span></p>
    <table id="add-cert-dialog-table">
        <tr>
            <th></th>
            <th>구분</th>
            <th>주체</th>
            <th>증명서 종류</th>
        </tr>
        <tr>
            <td>
      <div class="checkbox checkbox-primary">
        <input id="add-cert-checkbox-1" type="checkbox">
        <label for="add-cert-checkbox-1"></label>
      </div>
           
            </td>
            <td>자격</td>
            <td>삼성SDS</td>
            <td>SW Certificate 자격증명서(제 38회)</td>
        </tr>
  

    </table>

    <div class="modal-footer">
        <button class="confirm-btn primary-solid-btn">확인</button>
        <button class="cancel-btn border-btn">취소</button>
    </div>
</div>