
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Certificate</title>
        <link rel='stylesheet' href='/stylesheets/certs.css' />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    </head>

    <body>
        <div class="wrap">
                <div class="header">
                    <div class="header_content">
                        <div class="logo">
                                <img src="img/black.svg"
                                class="Black">
                        </div>
                        <div class="header_sub">
                            <!-- Right to left layout -->        
                            <div class="header_user_menu">
                                    <img src="img/more.png"
                                    srcset="img/more@2x.png 2x,
                                            img/more@3x.png 3x"
                                    class="More">
                                
                            </div>
        
                            <div class="header_user_info">
                                suji.lee@email.com
                            </div>
        
                            <div>
                                    <img src="img/user-photo.png"
                                    srcset="img/user-photo@2x.png 2x,
                                            img/user-photo@3x.png 3x"
                                    class="header_user_photo">
                            </div>
        
                            <div class="header_line">
                                    <img src="img/line.png"
                                    srcset="img/line@2x.png 2x,
                                            img/line@3x.png 3x"
                                    class="Line">
                            </div>
        
                            <div class="header_menu">
                                <div class="header_menu_text">
                                        기업서비스
                                </div>
                                <img src="img/more.png"
                                    srcset="img/more@2x.png 2x,
                                            img/more@3x.png 3x"
                                    class="header_more_1">
                            </div>
                            
                            
                            
                        </div>
                        
                    </div>
        
                </div>

        </div>
    </body>

</html>