<%- include('base_head_import') -%>
<%- include('base_all_dialog') -%>
<head>
    
    <link rel="stylesheet" href="css/mypage/base_mycert_resumespage.css">
    <link rel="stylesheet" href="css/mypage/mycert.css">
    <script src="js/certspage.js"></script>
</head>

<body>

    
    <%- include('base_header') -%>

    <div id="add-cert-dialog" class="modal">
        <p>증명서 발급<span>레쥬메에서 발급받고 싶은 이력을 선택해주세요.</span></p>
        <div class="table-div">
            <table id="add-cert-dialog-table">
                <tr>
                    <th></th>
                    <th>구분</th>
                    <th>응시/취득일</th>
                    <th>증명서 이름</th>
                </tr>
            </table>
        </div>

        <div class="modal-footer">
            <a href="#cert-line-dialog" rel="modal:open">
                <button class="confirm-btn primary-solid-btn">확인</button>
            </a>
            <button class="cancel-btn border-btn">취소</button>
        </div>
    </div>


    <div id="main-body">
        <div class="container">
            <div id="myresume-div">
                    <div id="cert-grid-div" class="grid mycert-grid">
                            <p>증명서</p>
                            <p>연계된 기관들로부터 불러온 이력사항을 클릭하여, 증명서 발급 및 이력서를 쉽게 생성할수 있습니다.</p>
        
                            <div class="sub-info">
        
                                <p class="option-open">최신 발급일 순</p>
                                <img class="option-open" src="/img/resume-store/path-2.svg" alt="">
                                <p class="total-count">총 <strong id="certlistcount">0건</strong>의 증명서를 보관중입니다.</p>

                                <div class="sub-info-select-div">
                                   <div class="sub-info-select-p">최신 발급일 순</div>
                                   <div class="sub-info-select-p">발급 기관 순</div>
                                </div> 
        
                            </div>
        
                            <img class="" src="" />
        
                            <div class="cert-container-new add-cert add-div ">
                                <img src="img/mycert/fill-1.png" alt="">
        
                                <p>새로운 증명서 발급</p>
                                
                            </div>
                        </div>      

                    

            </div>
        </div>
    </div>
    <%- include('base_footer') -%>


    <div id="demo-1" style="display: none;" >                    
        <img style="width:100%" src="/img/demo/demo_1.png"/>            
    </div>

    <div id="demo-2" style="display: none;" >                    
        <img style="width:100%" src="/img/demo/demo_1.png"/>            
    </div>

</body>

</html>
