<%- include('base_head_import') -%>
<head>
    
    <link rel="stylesheet" href="css/mypage/base_mycert_resumespage.css">
    <link rel="stylesheet" href="css/mypage/mycert.css">
    <script src="js/certspage.js"></script>
</head>

<body>

    
    <%- include('base_header') -%>
    
    <!-- Modal HTML embedded directly into document -->
    <div id="add-cert-dialog" class="modal">
        <p>증명서 발급<span>레쥬메에서 발급받고 싶은 이력을 선택해주세요.</span></p>
        <table id="add-cert-dialog-table">
            <tr>
                <th></th>
                <th>구분</th>
                <th>주체</th>
                <th>증명서 종류</th>
            </tr>
        </table>

        <div class="modal-footer">
            <button class="confirm-btn primary-solid-btn">확인</button>
            <button class="cancel-btn border-btn">취소</button>
        </div>
    </div>

    <div id="main-body">
        <div class="container">
            <div id="myresume-div">
                    <div id="cert-grid-div" class="grid mycert-grid">
                            <p>증명서 보관함</p>
                            <p>연계된 기관들로부터 불러온 이력사항을 클릭하여, 증명서 발급 및 이력서를 쉽게 생성할수 있습니다.</p>
        
                            <div class="sub-info">
        
                                <p>최신 발급일 순</p>
                                <img src="/img/resume-store/path-2.svg" alt="">
        
                                <p>총 <strong id="certlistcount">0건</strong>의 증명서를 보관중입니다.</p>
        
                            </div>
        
                            <img class="" src="" />
        
                            <div class="cert-container-new add-cert">
                                <img src="img/mycert/fill-1.png" alt="">
        
                                <p>새로운 증명서 발급</p>
                                
                            </div>
                    </div>      
            </div>
        </div>
    </div>
    
    <%- include('base_footer') -%>

</body>

</html>