<head>
    <!-- <%- include('base_head_import') -%> -->
    <link rel="stylesheet" href="/css/sdk_download.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="/js/index.js"></script>
</head>

<body class="developer-body">

    <div class="imgheader_wrap">

        <div class="header">
            <img id="index" class="imgheader" src="/img/developer/Developers_logo.svg">
        </div>

    </div>


    <div class="center">
        <div class="l_center_wrap">
            <div class="l_center">

                <div class="l_center_sdk_download_wrap">

                    <a href="/dev/sdk_download" class="l_center_sdk_download">
                        SDK_DOWNLOAD
                    </a>

                </div>

                <div class="l_center_REST_API_Reference_oauth_wrap">
                    <a href="/dev/reference/rest" class="l_center_REST_API_Reference_oauth">
                        API REFERENCE (REST API)
                    </a>
                </div>

                <div class="l_center_REST_API_Reference_javascript_wrap">
                    <a href="/dev/reference/js" class="l_center_REST_API_Reference_javascript">
                        API REFERENCE (JS LIBRARY)
                    </a>
                </div>

            </div>
        </div>

        <div class="r_center_wrap">
            <div class="r_center">
                <div class="content_header">
                    SDK DOWNLOAD
                </div>
                <div class="content_body">
                    <p class="content_line">
                        레쥬메 플랫폼 서비스를 이용하여 앱을 개발하기 위해서는 아래의 SDK가 필요합니다.
                    </p>

                    <div class="content_header2">
                        JavaScript SDK
                    </div>

                    <li class="content_line">
                        상황에 맞는 아래 JavaScript SDK를 다운받아 보세요.
                    </li>

                    <table class="download-list">
                        <thead>
                            <tr>
                                <th></th>
                                <th>버전</th>
                                <th>배포일</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <a href="/sdk/javascript.sdk.js">FULL SDK</a>
                                </td>
                                <td>
                                    1.0.0
                                </td>
                                <td>
                                    20180602
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="/sdk/js.sdk.min.js">FULL SDK(Minified)</a>
                                </td>
                                <td>
                                    1.0.0
                                </td>
                                <td>
                                    20180602
                                </td>

                            </tr>
                        </tbody>
                    </table>
                    <pre><code class="html hljs xml">
    <span class="hljs-comment">&lt;!--
     항상 최신 버전의 SDK를 사용합니다.
     --&gt;</span>      
    <span class="hljs-tag">&lt;<span class="hljs-title">script</span> <span class="hljs-attribute">src</span>=<span class="hljs-value">"//dev.rezoome.io/sdk/javascript.sdk.js"</span>&gt;</span><span class="undefined"></span><span class="hljs-tag">&lt;/<span class="hljs-title">script</span>&gt;</span></code>
                    </pre>

                    <div class="content_header2">
                            Notice
                    </div>
                    <li class="content_line">

                            REZOOME SDK를 사용함에 있어 사용자는 REZOOME를 사칭해서는 안됩니다.
                        
                    </li>
                    <li class="content_line">
                            REZOOME SDK 사용에 따라 발생하는 모든 책임은 전적으로 사용자에게 있으며, REZOOME는 사용자 또는 제3자에 대해 어떠한 책임도 지지 않습니다.
                    </li>
                    <li class="content_line">
                            사용자는 REZOOME SDK를 상업적 용도로 판매할 수 없습니다.
                    </li>

                    
                </div>

            </div>
        </div>
    </div>
</body>