<%- include('base_head_import') -%>
<%- include('base_all_dialog') -%>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/navbar-default.css">
    <link rel="stylesheet" href="css/index.css">
    <script src="js/index.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<!------ Include the above in your HEAD tag ---------->

<body>
    <div id="header">

    <%- include('base_header_default') -%>

        <p id="jombo">나를 증명하는 새로운 방법, 레쥬메</p>
        <p id="sub-title">세상에서 가장 빠르고 안전한 블록체인 기반 이력관리 서비스를 지금 바로 경험해보세요!</p>

        <button id="resume-start-btn">
            레쥬메 시작하기
        </button>
    </div>
    <div class="body-div">
        <div class="body-container">
            <p class="title">찾기 어려웠던 나의 이력 조회를, 한번에</p>
            <p class="sub-title">그 자격증 언제 취득했더라? 영어시험 점수가 몇점이었지...?  이력서를 쓰다보면 필요하지만, 확인하기에는 귀찮은 정보들이 참 많았죠?<br>
    REZOOME에 가입하면, 파편화되어 관리가 불가능하던 이력들을 한 곳에서 관리 할수 있습니다</p>
            <img src="/img/main/img-rezoome-demo.png"/>
        </div>
    </div>
    <div class="body-div">
        <div class="body-container">
            <div class="left">
                <p class="title">Active-X 불편하셨죠?<br>출력보안 프로그램, 이제 안녕!</p>
                <p class="sub-title">기존의 증명서들은 ActiveX 기반의 출력보안 프로그램들이 적용되었다면 <br>REZOOME는 증명서 발급에 사용되는 ‘내역 자체’를 블록체인 기반으로<br>
                간편하게 보증해줍니다!</p>            
            </div>
            <div class="right">
                <img src="/img/main/main-2.png"/>
            </div>
        </div>  

    </div>
    <div class="body-div">
        <div class="body-container">
            <p class="title">수많은 이력 증빙을, 한번에</p>
            <p class="sub-title">열심히 작성한 이력서, 그 안의 수 많은 이력사항 들을 증명하기 위해 <br>
개별 사이트에 접속해 로그인하고, 출력하는 과정을 거쳐야 했습니다<br>
REZOOME에서는 클릭 한번으로 서류 증빙은 물론, 진위 검증까지 <br>해결할 수 있어요!</p>
            <img src="/img/main/main-3.png"/>
            </div>  
    </div>
    <div class="bottom-div">

        <img src="/img/main/bottom-logo.svg"/>
        <p>지금 바로 레쥬메를 경험해보세요!</p>
        <button id="resume-start-btn-bottom">
            레쥬메 시작하기
        </button>
    </div>

    
    <%- include('base_footer') -%>

</body>

</html>