
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Letter - Simple Sign Up Form</title>
<!-- 
Letter Template 
http://www.templatemo.com/tm-510-letter
-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">  <!-- Google web font "Open Sans" -->
  
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  
  <link rel="stylesheet" href="/stylesheets/demo.css" />
  <link rel="stylesheet" href="/stylesheets/templatemo-style.css">
  
  <script type="text/javascript" src="/javascripts/modernizr.custom.86080.js"></script>
		
	</head>

	<body>
			<div id="navibar" class="top">
				<nav class="topMenu">
					<ul id="menu">
						<a>
						<li class="menuList">기업서비스</li>
						</a>
						<a>
						<li class="menuList">로그인</li>
						</a>
						<a>
						<li class="menuList">회원가입</li>
						</a>
					</ul>
				</nav>			
			</div>

			<div id="particles-js"></div>
		
			<ul class="cb-slideshow">
	            
	            <li></li>
	            <li></li>

			</ul>
	<!--	
		
			<div class="parallax-content baner-content" id="home">
					<div class="container">
						<div class="text-content">
							<h2>쉽고 빠른 증명서 발급. <span>REZOOME</span>.</h2>
							<p>증명서 한장 발급 받기 위해 설치했었던 엑티브엑스! 이제 안녕. <br/>
								블록체인을 활용한 초간편 증명서 발급 및 조회 서비스를 레쥬메에서 경험해보세요.</p>
							<div class="primary-white-button">
								<a href="#" class="scroll-link" data-id="about">회원가입</a>
							</div>
						</div>
					</div>
				</div>
-->

			<section id="intro">
			<div class="container-fluid">
				<div class="row cb-slideshow-text-container ">
					<div class= "tm-content col-sm-12 col-xs-12 section">
					<h1 class="text-center contentText">쉽고 빠른 증명서 발급. 레쥬메</h1>
					<h5 class="text-center contentDesc">증명서 한장 발급 받기 위해 설치했었던 엑티브엑스! 이제 안녕. <br/>
						블록체인을 활용한 초간편 증명서 발급 및 조회 서비스를 레쥬메에서 경험해보세요.</h5>
					
                    <form action="#" method="get" class="subscribe-form">
               	    	<div class="row form-section">

							<div class="signUp">
								<button type="button" name="button" class="signUp-btn">레쥬메 시작하기</button>
							</div>
						
						</div>
					</form>
					
					</div>
				</div>	

<!--
				<div class="footer-link">
					<p>Copyright © 2018 REZOOME 
                    
                    - Design: <a rel="nofollow" href="http://www.google.com/+templatemo" target="_parent">Templatemo</a></p>
				</div>
-->				
			</div>	
		</section>
	</body>

	<script type="text/javascript" src="/javascripts/particles.js"></script>
	<script type="text/javascript" src="/javascripts/app.js"></script>
</html>