<head>
    
    <link rel="stylesheet" href="css/loading_page.css">
</head>


<div class='loading'>
  <div class='bullet'></div>
  <div class='bullet'></div>
  <div class='bullet'></div>
  <div class='bullet'></div>
</div>
