<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>

    <link rel="stylesheet" href="css/selectize.css">
    <meta name="description" content="">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/mypage/main.css">
    <link rel="stylesheet" href="css/mypage/mycert.css">
    <link rel="stylesheet" href="css/awesome-bootstrap-checkbox.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="js/myresume.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />


    <script src="js/selectize.js"></script>
    <link rel="stylesheet" href="css/datepicker.css">
    <link rel="stylesheet" href="css/progressbar.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.js"></script>
    <script src="js/view_formatter.js"></script>
    <script src="js/mainpage.js"></script>
    <script src="js/testinterface.js"></script>

</head>

<body>
<!--<input type="text" placeholder="asd">-->
<!--
<select size="2">
    
    <option>1255</option>
    <option>asdas</option>
    <option>sdaasdassd</option>
    <option>sdasasdaasasd</option>
</select>
-->

    <div id = "myresume-modal"></div>

    
    <nav class="navbar">
        <div class="container">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#"><img src="img/myresume/logo@3x.png" id="home_icon"></a>
                </li>

                <li class="right">
                    <a href="#"><img id="user-small-icon" src="img/myresume/user-photo.png" /><span>suji.lee@email.com</span><img class="check-icon" src="img/myresume/shape@3x.png" /></a>
                </li>
                <li class="right"><a href="#">기업 서비스</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div id="header-1" class="grid">
            <div>
                <img id="user-big-icon" src="img/myresume/user-photo@3x.png" />
            </div>

            <div>
                <p>이수지</p>
                <p>suji@email.com</p>

            </div>
        </div>
    </div>

    <div id="header-2">
        <div class="container">
            <div class="grid">
                <ul>
                    <li id="header-resume-store">이력서 보관함</li>
                    <li id="header-mycert">
                        증명서 보관함
                    </li>
                    <li id="header-myresume">My 레쥬메</li>

                </ul>

            </div>

        </div>
    </div>

    <div id="main-body">
        <div class="container">
            <div id="myresume-div">      

                     <div class="grid myresume-grid">
                    <p>My레쥬메</p>
                    <p>연계된 기관들로부터 불러온 이력사항을 클릭하여, 증명서 발급 및 이력서를 쉽게 생성할수 있습니다.</p>
                    <img id="refresh_record" src="img/myresume/reload.svg" />
                    <p>업데이트 : 2018.03.09 (금) 18:07</p>
                    

                    <div class="spec-div">
                        <div id="spec_edu_detail" class="spec-detail-div">
                            <div class="spec-title">

                                <span>학력</span>
                                <span><a href="#education-add-dialog" rel="modal:open"  class="add-span">+ 추가</a></span>

                            </div>

                            <div id="spec_forign_lang_empty" class="spec-body-default">
                                학력 정보가 없습니다. 
                            </div>

                            <!-- <div class="spec-body">
                                <div class="spec-left">
                                    <input type="checkbox" id="box-1" />
                                    <label for="box-1"></label>
                                    <span>2018-03-03 ~ 2018-04-04</span>

                                </div>
                                <div class="spec-center">
                                    <img src="img/myresume/user-photo@2x.png" alt="">
                                    <img src="img/myresume/on.png" alt="">

                                </div>
                                <div class="spec-right">
                                    <p>인하대학교</p>
                                    <p>학사, 공과대학 컴퓨터공학 전공, 졸업</p>
                                    <p>3.5 / 4.5</p>
                                    
                                </div>
                            </div>

                            <div class="spec-body">
                                <div class="spec-left">
                                    <input type="checkbox" id="box-2" />
                                    <label for="box-2"></label>
                                    <span>2018-03-03 ~ 2018-04-04</span>

                                </div>
                                <div class="spec-center">
                                    <img src="img/myresume/user-photo@2x.png" alt="">
                                    <img src="img/myresume/on.png" alt="">

                                </div>
                                <div class="spec-right">
                                    <p>인하대학교</p>
                                    <p>학사, 공과대학 컴퓨터공학 전공, 졸업</p>
                                    <p>3.5 / 4.5</p>

                                </div>
                            </div> -->
                        </div>
                        <div id="spec_forign_lang" class="spec-detail-div">
                            <div class="spec-title">

                                <span>외국어</span>
                                <span><a href="#language-add-dialog" rel="modal:open" class="add-span">+ 추가</a></span>

                            </div>
                            
                            <div id="spec_forign_lang_empty" class="spec-body-default">
                                외국어 성적 정보가 없습니다. 
                            </div>
                            
                            <!-- <div class="spec-body">
                                <div class="spec-left">
                                    <input type="checkbox" id="box-3" />
                                    <label for="box-3"></label>
                                    <span>2018-03-03 ~ 2018-04-04</span>

                                </div>
                                <div class="spec-center">
                                    <img src="img/myresume/user-photo@2x.png" alt="">
                                    <img src="img/myresume/on.png" alt="">

                                </div>
                                <div class="spec-right">
                                    <p>인하대학교</p>
                                    <p>학사, 공과대학 컴퓨터공학 전공, 졸업</p>
                                    <p>3.5 / 4.5 <span class="expire">만료예정</span></p>
                                    
                                    
                                    <button><a href="#spec-change-dialog" rel="modal:open">변경</a></button>

    
                                </div>
                            </div>
                            <div class="spec-body">
                                <div class="spec-left">
                                    <input type="checkbox" id="box-4" />
                                    <label for="box-4"></label>
                                    <span>2018-03-03 ~ 2018-04-04</span>

                                </div>
                                <div class="spec-center">
                                    <img src="img/myresume/user-photo@2x.png" alt="">
                                    <img src="img/myresume/on.png" alt="">

                                </div>
                                <div class="spec-right">
                                    <p>인하대학교</p>
                                    <p>학사, 공과대학 컴퓨터공학 전공, 졸업</p>
                                    <p>3.5 / 4.5</p>
                                    <button><a href="#spec-change-dialog" rel="modal:open">변경</a></button>
    
                                </div>
                            </div> -->

                        </div>
                        <div id="spec_certification" class="spec-detail-div">
                            <div class="spec-title">

                                <span>자격</span>
                                <span><a href="#cert-add-dialog" rel="modal:open"  class="add-span">+ 추가</a></span>

                            </div>
                            <div class="spec-body-default">
                                자격 정보가 없습니다. 
                            </div>
                            <!-- <div class="spec-body">
                                <div class="spec-left">
                                    <input type="checkbox" id="box-3" />
                                    <label for="box-3"></label>
                                    <span>2018-03-03 ~ 2018-04-04</span>

                                </div>
                                <div class="spec-center">
                                    <img src="img/myresume/user-photo@2x.png" alt="">
                                    <img src="img/myresume/on.png" alt="">

                                </div>
                                <div class="spec-right">
                                    <p>인하대학교</p>
                                    <p>학사, 공과대학 컴퓨터공학 전공, 졸업</p>
                                    <p>3.5 / 4.5</p>
                                    <button><a href="#spec-change-dialog" rel="modal:open">변경</a></button>
                                </div>
                            </div>
                            <div class="spec-body">
                                <div class="spec-left">
                                    <input type="checkbox" id="box-4" />
                                    <label for="box-4"></label>
                                    <span>2018-03-03 ~ 2018-04-04</span>

                                </div>
                                <div class="spec-center">
                                    <img src="img/myresume/user-photo@2x.png" alt="">
                                    <img src="img/myresume/on.png" alt="">

                                </div>
                                <div class="spec-right">
                                    <p>인하대학교</p>
                                    <p>학사, 공과대학 컴퓨터공학 전공, 졸업<span class="plus">+ 6</span></p>
                                    
                                    <p>3.5 / 4.5</p>
                                    <button><a href="#spec-change-dialog" rel="modal:open">변경</a></button>
        
                                </div> -->
                            </div>

                        </div>                
                        
                    </div>

                </div>
            </div>
            <div id="mycert-div">
            </div>
            
            <div id="resume-store-div">

            </div>
            

        </div>
    </div>
    
    <div id="alarm-div">
        <span></span>
        <img src="/img/myresume/close-white.svg" alt="">
    </div>
    
    <div id="main-footer">
        <span>© REZOOME</span>
        <span>All rights reserved.</span>
        
        <span>이용약관</span>
        <span>|</span>
        <span>개인정보처리방침</span>
        
    </div>
    
    <div id="select-footer">
        <img src="img/myresume/on.png" alt="">
        <span>2건의</span>
        <span>이력이 선택되었습니다.</span>
        
        <button>···</button>
        
        <button>이력서 생성</button>
        <button id="cert-issue-button"><a href="#cert-issue-dialog" rel="modal:open">증명서 발급</a></button>
    </div>
    
</body>

</html>