<html>

<head>
    <title>메인</title>
    <link rel='stylesheet' href='/stylesheets/main.css' />
    <link href='https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $(function () {
                var param = {
                    cmd: 'Search',
                    mid: 'midxxxxx',
                    args: {
                        //userid: 'rezoome',
                        orgs: [
                            { 'code': '01' },
                            { 'code': '03' }
                        ]
                    }
                };

                $.ajax({
                    url: '/client',
                    type: 'post',
                    data: JSON.stringify(param),
                    contentType: "application/json",
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("Authorization", "bearer " + sessionStorage.getItem("token"));
                    },
                    success: function (data) {
                        // alert(JSON.stringify(data));
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            });
        });

        function pdf() {

            var param = {
                cmd: 'Certificate',
                mid: 'midxxxxx',
                args: {

                }
            };

            $.ajax({
                url: '/',
                type: 'post',
                data: JSON.stringify(param),
                contentType: "application/json",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("Authorization", "bearer " + sessionStorage.getItem("token"));
                },
                success: function (data) {
                    //alert(JSON.stringify(data));
                    //console.log(JSON.stringify(data));                    
                    window.location.replace('/users/pdf?file=' + data.data);
                }
            });
        }
    </script>
</head>

<body>

    <div class="wrap">
        <div class="header">
            <div class="header_content">
                <div class="logo">
                        <img src="img/black.svg"
                        class="Black">
                </div>
                <div class="header_sub">
                    <!-- Right to left layout -->        
                    <div class="header_user_menu">
                            <img src="img/more.png"
                            srcset="img/more@2x.png 2x,
                                    img/more@3x.png 3x"
                            class="More">
                        
                    </div>

                    <div class="header_user_info">
                        suji.lee@email.com
                    </div>

                    <div>
                            <img src="img/user-photo.png"
                            srcset="img/user-photo@2x.png 2x,
                                    img/user-photo@3x.png 3x"
                            class="header_user_photo">
                    </div>

                    <div class="header_line">
                            <img src="img/line.png"
                            srcset="img/line@2x.png 2x,
                                    img/line@3x.png 3x"
                            class="Line">
                    </div>

                    <div class="header_menu">
                        <div class="header_menu_text">
                                기업서비스
                        </div>
                        <img src="img/more.png"
                            srcset="img/more@2x.png 2x,
                                    img/more@3x.png 3x"
                            class="header_more_1">
                    </div>
                    
                    
                    
                </div>
                
            </div>

        </div>
        <div class="container">
            <!-- User Info Contents -->
            <div class="center_user_info">
                <div class="center_user_photo">
                    <img src="img/usertemp.jpg" width="147" height="145">
                </div>
                <div class="center_user_info_text">
                    <div class="center_user_name">이수지</div>
                    <div class="center_user_email">suji@email.com</div>
                </div>
            </div>
            <!-- Center Menu Contents -->
            <div class="center_menu">
                <div class="center_menu_3">이력서보관함</div>
                <div class="center_menu_2">증명서보관함</div>
                <div class="center_menu_1">My레쥬메</div>
            </div>
            <!-- Rezoome Info Contents -->
            <div class="content">
                <div class="content_name"></div>
                <div class="content_description"></div>
                <div class="content_row_line"></div>
                <div class="content_update"></div>
                <div class="content_body">
                    <div class="content_body_education"></div>
                    <div class="content_body_foreinglanguage"></div>
                    <div class="content_body_qualification"></div>
                </div>

            </div>
        </div>
        
        <div class="footer">

        </div>
    </div>


</body>

</html>