<html>

<head>
    <title>메인</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/main.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $(function () {
                var param = {
                    cmd: 'Search',
                    mid: 'midxxxxx',
                    args: {
                        //userid: 'rezoome',
                        orgs: [
                            { 'code': '01' },
                            { 'code': '03' }
                        ]
                    }
                };

                $.ajax({
                    url: '/client',
                    type: 'post',
                    data: JSON.stringify(param),
                    contentType: "application/json",
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("Authorization", "bearer " + sessionStorage.getItem("token"));
                    },
                    success: function (data) {
                        // alert(JSON.stringify(data));
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            });
        });

        function pdf() {

            var param = {
                cmd: 'Certificate',
                mid: 'midxxxxx',
                args: {

                }
            };

            $.ajax({
                url: '/',
                type: 'post',
                data: JSON.stringify(param),
                contentType: "application/json",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("Authorization", "bearer " + sessionStorage.getItem("token"));
                },
                success: function (data) {
                    //alert(JSON.stringify(data));
                    //console.log(JSON.stringify(data));                    
                    window.location.replace('/users/pdf?file=' + data.data);
                }
            });
        }
    </script>
</head>

<body class="main">

    <div class="header">


    </div>
    <div class="introtop">
        

        <img src="img/black.png" srcset="img/black@2x.png 2x,
                    img/black@3x.png 3x" class="Black">

        <div class="topmenudefault">
            <p id="topmenu1" class="-">기업 서비스 v</p>
            <p id="topmenu2" class="-"> | </p>    
            <p id="topmenu3" class="- Button-Shape"> 무료가입 </p>    
        </div>
        <div class="introcenter1">
                쉽고 빠른 증명서 발급. 레쥬메
            </div>
            <div class="introcenter2">
                증명서 한장 발급받기 위해 설치했었던 엑티브엑스! 이제 안녕.
                <br>
                블록체인을 활용한 증명서 발급 및 조회 서비스 레쥬메를 사용해보세요.
            </div>
        
            <button class="introcenter3">
            </button>
    </div>
   


</body>

</html>