<html>

<head>
    <title>메인</title>
    <link rel='stylesheet' href='/stylesheets/main.css' />
    <link href='https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $(function () {
                var param = {
                    cmd: 'Search',
                    mid: 'midxxxxx',
                    args: {
                        //userid: 'rezoome',
                        orgs: [
                            { 'code': '01' },
                            { 'code': '03' }
                        ]
                    }
                };

                $.ajax({
                    url: '/client',
                    type: 'post',
                    data: JSON.stringify(param),
                    contentType: "application/json",
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("Authorization", "bearer " + sessionStorage.getItem("token"));
                    },
                    success: function (data) {
                        // alert(JSON.stringify(data));
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });

                $.ajax({
                    url: '/main/edu',
                    type: 'post',
                    contentType: "application/json",
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("Authorization", "bearer " + sessionStorage.getItem("token"));
                    },
                    success: function (data2) {
                        var data = [
                            {
                                date: '2018-03-03 ~ 2018-04-04',
                                orglogo: 'https://s3.ap-northeast-2.amazonaws.com/rezoome/org_logo/t_inha05_400x400.jpg',
                                blc_map: true,
                                org_name: '인하대학교',
                                org_major: '학사, 공과대학 컴퓨터공학 전공',
                                grade: '성적 : 3.5 / 4.5'
                            },
                            {
                                date: '2018-03-03 ~ 2018-04-04',
                                orglogo: 'https://s3.ap-northeast-2.amazonaws.com/rezoome/org_logo/img01_mark_ab0102.gif',
                                blc_map: true,
                                org_name: '서울대학교 대학원',
                                org_major: '언론정보대학원 인터랙션디자인 전공',
                                grade: '성적 : 3.8 / 4.5'
                            }
                        ]
                        // alert(JSON.stringify(data));
                        var edutable = document.getElementById('id_tb_edu');
                        var rowlen = data.length;
                        
                        for(var i=0; i<rowlen; i++) {
                            var row = edutable.insertRow(i);
                            row.style.height = '129px';
                            //row.insertCell(i).innerHTML = '<div class="record_date>"'+ data[i].date +'</div>';
                            //var cell1 = row.insertCell(0);
                            row.innerHTML = '<td class="record_date">'+ data[i].date +'</td>';
                            row.innerHTML += '<td>'+ '<img class="record_img" src="' + data[i].orglogo +'">' +'</td>';
                            row.innerHTML += '<td>'+ '<img class="bc_mapping" src="img/on.png">' +'</td>';
                            row.innerHTML += '<td>'+ '<p class="record_1st">' + data[i].org_name + '</p>' + '<p class="record_2nd">' + data[i].org_major + '</p>' + '<p class="record_3rd">' + data[i].grade + '</p>' +'</td>';
                        }

                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            });
        });

        function pdf() {

            var param = {
                cmd: 'Certificate',
                mid: 'midxxxxx',
                args: {

                }
            };

            $.ajax({
                url: '/',
                type: 'post',
                data: JSON.stringify(param),
                contentType: "application/json",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("Authorization", "bearer " + sessionStorage.getItem("token"));
                },
                success: function (data) {
                    //alert(JSON.stringify(data));
                    //console.log(JSON.stringify(data));                    
                    window.location.replace('/users/pdf?file=' + data.data);
                }
            });
        }
    </script>
</head>

<body>

    <div class="wrap">
        <div class="header">
            <div class="header_content">
                <div class="logo">
                        <img src="img/black.svg"
                        class="Black">
                </div>
                <div class="header_sub">
                    <!-- Right to left layout -->        
                    <div class="header_user_menu">
                            <img src="img/more.png"
                            srcset="img/more@2x.png 2x,
                                    img/more@3x.png 3x"
                            class="More">
                        
                    </div>

                    <div class="header_user_info">
                        suji.lee@email.com
                    </div>

                    <div>
                            <img src="img/user-photo.png"
                            srcset="img/user-photo@2x.png 2x,
                                    img/user-photo@3x.png 3x"
                            class="header_user_photo">
                    </div>

                    <div class="header_line">
                            <img src="img/line.png"
                            srcset="img/line@2x.png 2x,
                                    img/line@3x.png 3x"
                            class="Line">
                    </div>

                    <div class="header_menu">
                        <div class="header_menu_text">
                                기업서비스
                        </div>
                        <img src="img/more.png"
                            srcset="img/more@2x.png 2x,
                                    img/more@3x.png 3x"
                            class="header_more_1">
                    </div>
                    
                    
                    
                </div>
                
            </div>

        </div>
        <div class="container">
            <!-- User Info and Center Menu Contents -->
            <div class="wrap_center_top">
                <div class="sub_wrap_center_top">
                    <div class="center_user_info">
                        <div class="center_user_photo">
                            <img src="img/usertemp.jpg" width="147" height="145">
                        </div>
                        <div class="center_user_info_text">
                            <div class="center_user_name">이수지</div>
                            <div class="center_user_email">suji@email.com</div>
                        </div>
                    </div>
                    <div class="center_menu">
                        <div class="center_menu_3">이력서 보관함</div>
                        <div class="center_menu_2">증명서 보관함</div>
                        <div class="center_menu_1">My 레쥬메</div>
                    </div>
                </div>
            </div>
            
            <!-- Rezoome Info Contents -->
            <div class="content">
                <div class="content_name">My 레쥬메</div>
                <div class="content_description">연계된 기관들로부터 불러온 이력사항을 클릭하여, 증명서 발급 및 이력서를 쉽게 생성할수 있습니다.</div>
                <div class="content_row_line"></div>    
                <div class="content_update">
                    <div class="content_update_time">업데이트 : 2018.03.09 (금) 18:07</div>
                    <button class="content_update_reload"></button>        
                </div>
                <div class="content_body">
                    <div class="content_body_education">
                        <div class="top_content_body_education">
                            <p class="content_text1">학력</p>
                            <p class="content_link1">+추가</p>
                        </div>
                        <div class="center_content_body_edu">
                            <table id="id_tb_edu" class="tb_edu">
                                    
                            </table>
                        </div>
                    </div>
                    <div class="content_body_foreinglanguage">
                        <div class="top_content_body_foreinglanguage">
                                <p class="content_text2">외국어</p>
                                <p class="content_link2">+추가</p>
                        </div>
                        <div class="center_content_body_foreinglanguage"></div>
                    </div>
                    <div class="content_body_qualification">
                        <div class="top_content_body_qualification">
                                <p class="content_text3">자격</p>
                                <p class="content_link3">+추가</p>
                        </div>
                        <div class="center_content_body_qualification"></div>
                    </div>
                </div>

            </div>
        </div>
        
        <div class="footer">

        </div>
    </div>


</body>

</html>