<!DOCTYPE html>
<html>
  <head>
    <title>레주메 증명서</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h3>레주메</h3>
    <br><object width="600" height="850" data='<%= pdf %>' type="application/pdf">
      <embed width="600" height="850" src='<%= pdf %>' type="application/pdf" />
    </object>
  </body>
</html>
