<%/*
{
    code : Error code,
    msg : Error message,
    stack : Error stack if exists,
}
*/%>
    <h1> Response Error </h1>
    <h3> code :
        <%= locals.code %>
    </h3>
    <h3> Message :
        <%= locals.msg %>
    </h3>
    <h3> Stack :
        <%= locals.stack %>
    </h3>
    <h3> Additional info :
        <%= locals.info %>
    </h3>