<%- include('base_head_import') -%>

<head>
    <link rel="stylesheet" href="css/mypage/base_mycert_resumespage.css">
    <link rel="stylesheet" href="css/mypage/resumespage.css">
    <script src="js/resumespage.js"></script>
</head>

<body>

    <%- include('base_header') -%>

    <!-- Modal HTML embedded directly into document -->
    <div id="add-cert-dialog" class="modal">
        <p>이력서 발급<span>이력서에 포함시킬 이력을 선택해주세요.</span></p>
        <table id="add-cert-dialog-table">
            <tr>
                <th></th>
                <th>구분</th>
                <th>주체</th>
                <th>증명서 종류</th>
            </tr>
        </table>

        <div class="modal-footer">
            <button class="confirm-btn primary-solid-btn">확인</button>
            <button class="cancel-btn border-btn">취소</button>
        </div>
    </div>

    <div id="main-body">
        <div class="container">
            <div id="resume-store-div">
                    <div id="resume-grid-div" class="grid mycert-grid">
                            <p>이력서 보관함</p>
                            <p>단순 작성만으로 이력 증빙이 모두 진행되는 새로운 증명서를 작성해보세요.</p>
        
                            <div class="sub-info">
        
                                <p>최신 생성일 순</p>
        
                                <p>총 <strong id="resumelistcount">0건</strong>의 증명서를 보관중입니다.</p>
        
                            </div>
        
                            <img class="" src="" />
        
                            <div class="cert-container-new add-cert">
                                <img src="img/mycert/fill-1.png" alt="">
                                <p>새로운 이력서 생성</p>
        
                            </div>        
                    </div>    
            </div>
            

        </div>
    </div>
    
    <%- include('base_footer') -%>   
</body>

</html>