<%- include('base_head_import') -%>
<%- include('base_main_dialog') -%>

<head>
    <link rel="stylesheet" href="css/mypage/resumeseditor.css">
    <script src="js/resumeseditor.js"></script>
</head>

<!------ Include the above in your HEAD tag ---------->

<body>

<div class="header">
   
   <a href="/resumes"><img src="img/certviewer/wt.png" alt=""></a>
   <div>
       <p>이력서 생성하기</p>
       <p>Noname_1_20180302</p>
      
       <a href="#rename-dialog" rel="modal:open" class="add-span"> <img src="" id="change-name"/></a>
   </div>
   <button id="more-button">···</button>
   <button class="save-button">작성 완료</button>
   <button class="save-button">임시 저장</button>

   
    <div id="more-button-div">
       <p>항목#1</p>
       <p>항목#2</p>
       <p>항목#3</p>
    </div> 
    
</div>

<div class="main-body">
    <div class="outer-container">
      <div class="section-1">
        <h1>이수지</h1>

        <p><strong>Email</strong> :  suj@email.com</p>
        <p><strong>Mobile</strong> :  010-9959-9958</p>
        <p><strong>Birth</strong> :  1984-03-02 / 여</p>
        <img src="/img/" />
      </div>

      <p class="short-intro">비즈니스, 개발, UX의 다리 역할을 하는 서비스 기획자 입니다. 현재 서비스 분석/기획 일을 하고 있으며 다양한 유럽 문화권에서의 경험으로 유럽 문화에 대한 지식과 영어가 능통합니다. 고객의 가치를 높이는 서비스에 관심이 많습니다.</p>

      <p class="short-intro-default">자기소개가 없습니다.  간단한 자기소개를 추가해주세요.</p>


      <div  class="resumes-detail-div">
          <div class="resumes-title">

              <span>학력사항</span>
              <span><a href="#education-add-dialog" rel="modal:open"  class="add-span">+ 추가</a></span>

          </div>

          <div class="resumes-body">
              <div class="resumes-left">
                  <span>2018-03-03 ~ 2018-04-04</span>

              </div>
              <div class="resumes-center">

                  <img src="img/myresume/on.png" alt="">
                  <span>학사</span>
              </div>
              <div class="resumes-right">
                  <p>인하대학교</p>
                  <span>정보통신대학 컴퓨터공학과</span>
                  <span>3.5 / 4.5</span>
                  <span>졸업</span>
                  
              <img src="/img/common/close.svg"/>
              </div>

          </div>
          <div class="resumes-body">
              <div class="resumes-left">
                  <span>2018-03-03 ~ 2018-04-04</span>

              </div>
              <div class="resumes-center">

                  <img src="img/myresume/on.png" alt="">
                  <span>학사</span>
              </div>
              <div class="resumes-right">
                  <p>인하대학교</p>
                  <span>정보통신대학 컴퓨터공학과</span>
                  <span>3.5 / 4.5</span>
                  <span>졸업</span>
                  
              <img src="/img/common/close.svg"/>
              </div>

          </div>

      </div>

      <div  class="resumes-detail-div">
          <div class="resumes-title">

              <span>외국어</span>
              <span><a href="#language-add-dialog" rel="modal:open"  class="add-span">+ 추가</a></span>

          </div>

          <div class="resumes-body">
              <div class="resumes-left">
                  <span>2018-03-01</span>

              </div>
              <div class="resumes-center">

                  <img src="img/myresume/on.png" alt="">
                  <span>영어</span>
              </div>
              <div class="resumes-right">
                  <p>OPIc</p>
                  <p>AL(Advanced Low)</p>
                  
                  
              <img src="/img/common/close.svg"/>
              </div>

          </div>
          <div class="resumes-body">
              <div class="resumes-left">
                  <span>2018-03-03</span>

              </div>
              <div class="resumes-center">

                  <img src="img/myresume/off.png" alt="">
                  <span>영어</span>
              </div>
              <div class="resumes-right">
                  <p>TOEIC</p>
                  <p>Listening : 495 / Reading : 495 / Total : 990</p>
              <img src="/img/common/close.svg"/>
              </div>

          </div>

      </div>

      <div  class="resumes-detail-div">
          <div class="resumes-title">

              <span>자격</span>
              <span><a href="#cert-add-dialog" rel="modal:open"  class="add-span">+ 추가</a></span>

          </div>

          <div class="resumes-body">
              <div class="resumes-left">
                  <span>2018-03-01</span>

              </div>
              <div class="resumes-center">

                  <img src="img/myresume/on.png" alt="">
                  <span>기타</span>
              </div>
              <div class="resumes-right">
                  <p>삼성SDS SW Certificate</p>
                  <p>Professional</p>
                  
                  
              <img src="/img/common/close.svg"/>
              </div>

          </div>
          <div class="resumes-body">
              <div class="resumes-left">
                  <span>2018-03-03</span>

              </div>
              <div class="resumes-center">

                  <img src="img/myresume/off.png" alt="">
                  <span>기타</span>
              </div>
              <div class="resumes-right">
                  <p>매경TEST</p>
                  <p>우수</p>
              <img src="/img/common/close.svg"/>
              </div>

          </div>

      </div>
    </div>
</div>



<div id="rename-dialog" class="modal">
    <p>이름 변경<span>사용하고 싶은 이력서의 이름을 입력해주세요.</span></p>
    <div class="modal-body">



        <input type="text" id="rename-input" placeholder="Noname_1_20180302">
        <div class="error-message">이미 사용중인 이력서 이름입니다. 다른 이름을 사용해주세요.</div>

    </div>
    <div class="modal-footer">
        <button class="confirm-btn primary-solid-btn">확인</button>
        <button class="cancel-btn border-btn">취소</button>
    </div>
</div>




    <%- include('base_footer') -%>   
</body>
    
   
  