<%#
UserModel render용 키 정보 :
{
    sId : 회원 SID(integer)
    uId : 회원 UID(uuid string),
    firstNameKO : 한국 이름 ex),
    familyNameKO : 한국 성,
    fullNameKO : 한국 전체 이름,
    firstNameEN : 영문 이름
    familyNameEN : 영문 성,
    fullNameEN : 영문 전체 이름,
    gender : 성별 ('M'/'F'),
    phone : 핸드폰 번호(+821047472727),
    email : E-Mail 주소,
    birth : 생년월일 (yyyymmdd),
    imgsrc : 프로필 사진 주소,
}
%>
<html>

<head>
<title>Rezoome /resumes page</title>
</head>

<body><$= fullNameKO ></body>

</html>