<%- include('base_head_import') -%>
<%- include('base_all_dialog') -%>

<head>
    <link rel="stylesheet" href="css/mypage/base_mycert_resumespage.css">
    <link rel="stylesheet" href="css/mypage/resumespage.css">
    <script src="js/formatter/resumes_formatter.js"></script>
    <script src="js/resumespage.js"></script>
</head>

<body>

    <%- include('base_header') -%>

    <div id="add-resumes-dialog" class="modal">
        <p>이력서 생성<span>이력서에 포함하고 싶은 이력을 선택해주세요.</span></p>
        <div class="table-div">
            <table id="add-resumes-dialog-table">
                <tr>
                    <th></th>
                    <th>구분</th>
                    <th>주체</th>
                    <th>이력명</th>
                    <th>성적포함</th>
                </tr>
            </table>
        </div>
        <div class="modal-footer">

            <a>건너뛰기</a>
            <a href="#resumes-line-dialog" rel="modal:open">
                <button class="confirm-btn primary-solid-btn">확인</button>
            </a>
            <button class="cancel-btn border-btn">취소</button>
        </div>
    </div>

    <div id="main-body">
        <div class="container">
            <div id="resume-store-div">
                    <div id="resume-grid-div" class="grid myresume-grid">
                            <p>이력서</p>
                            <p>단순 작성만으로 이력 증빙이 모두 진행되는 새로운 증명서를 작성해보세요.</p>
        
                            <div class="sub-info">
        
                                <p class="option-open">최신 생성일 순</p>
                                <img class="option-open" src="/img/resume-store/path-2.svg" alt="">
                                <p class="total-count">총 <strong id="resumelistcount">0건</strong>의 이력서를 보관중입니다.</p>

        
                                <div class="sub-info-select-div">
                                   <div class="sub-info-select-p">최신 생성일 순</div>
                                   <div class="sub-info-select-p">늦은 생성일 순</div>
                                </div> 
                            </div>
        
                            <img class="" src="" />
        
                            <div class="resumes-container-new add-resumes add-div">
                                <img src="img/mycert/fill-1.png" alt="">
                                <p>새로운 이력서 생성</p>
        
                            </div>
                            
                    </div>    
            </div>
            

        </div>
    </div>
    
    <%- include('base_footer') -%>   
</body>

</html>
