<%- include('base_head_import') -%>
<%- include('base_all_dialog') -%>

<head>
    <script src="js/signup.js"></script>

    <link rel="stylesheet" href="css/navbar-default.css">

    <link rel="stylesheet" href="css/signup.css">
</head>

<body>
    <%- include('base_header_default') -%>

    <h1>개인회원 회원가입</h1>

    <div class="signup-container">
        <p class="title">이메일</p>
        <input placeholder="로그인에 사용할 이메일을 입력해주세요." />
        <div class="error-message">이미 가입되어 있는 이메일입니다.</div>

        <p class="title">비밀번호</p>
        <input type="password" placeholder="영문자, 숫자, 특수문자 조합 8~12자" />
        <div class="error-message">영문자, 숫자, 특수문자 조합 8~12자로 입력해주세요.</div>

        <p class="title">비밀번호 확인</p>
        <input  type="password"  placeholder="위의 비밀번호를 다시 입력해주세요." />
        <div class="error-message">비밀번호가 일치하지 않습니다.</div>

        <div class="last-name">

            <p class="title">성</p>
            <input placeholder="홍" />
        </div>

        <div class="first-name">

            <p class="title">이름</p>
            <input placeholder="길동" />
        </div>
        <p class="title">생년월일</p>
        <input  placeholder="8자리 숫자만 입력해주세요 ex) 20180401" />
        
        <p class="title">성별</p>

        <div class="abc-radio">
            <input type="radio" name="spec-change" id="radio-male" value="">
            <label for="radio-male">
                남
            </label>

            <input type="radio" name="spec-change" id="radio-female" value="">
            <label for="radio-female">
                여
            </label>
        </div>

        <p class="title">휴대폰</p>
        <div class="phone-select">
            <select>
                <option value="" disabled selected>통신사</option>

                    <option value="1">LG</option>
                    <option value="2">SKT</option>
                    <option value="3">KT</option>
            </select>

        </div>


        <div class="phone-input">
            <input  placeholder="010-0000-0000" />

            <div class="error-message">이미 가입된 번호입니다.</div>
            <div class="info-message-1">인증번호가 발송되었습니다. (2:00)</div>
        </div>
        <button class="phone-send border-btn">인증번호 발송</button>


        <p class="title">인증번호 확인</p>


        <div class="confirm-phone-input">
            <input  placeholder="8자리 숫자만 입력해주세요 ex) 20180401" />
            <div class="error-message">인증번호가 일치하지 않습니다.</div>
            <div class="info-message-2">정상적으로 확인되었습니다.</div>
        </div>
        <button class="phone-confirm border-btn" disabled="">인증번호 확인</button>


        <div class="agreement-div">

            <div class="agreement-top">
                <input type="checkbox" id="box-all" />
                <label for="box-all"></label>

                <span>아래 내용에 모두 동의합니다.</span>
            </div>

            <div class="agreement-body">
                <div>
                        <input type="checkbox" id="box-1" name="agreement"/>
                        <label for="box-1"></label>
                        <span>[필수] 서비스 이용약관 동의</span>
                        <a>자세히</a>
                </div>
                <div>
                        <input type="checkbox" id="box-2" name="agreement" />
                        <label for="box-2"></label>
                        <span>[필수] 개인정보 수집·이용 동의</span>
                        <a>자세히</a>
                </div>
                <div>
                        <input type="checkbox" id="box-3" name="agreement" />
                        <label for="box-3"></label>
                        <span>[필수] 개인정보 제3자 정보 제공 동의</span>
                        <a>자세히</a>
                </div>
                <div>
                        <input type="checkbox" id="box-4" name="agreement" />
                        <label for="box-4"></label>
                        <span>[선택] 개인정보 제3자 정보 제공 동의</span>
                        <a>자세히</a>
                </div>
                <div>
                        <input type="checkbox" id="box-5" name="agreement" />
                        <label for="box-5"></label>
                        <span>[선택] 개인정보 제3자 정보 제공 동의</span>
                        <a>자세히</a>
                </div>
                <div>
                        <input type="checkbox" id="box-6"  name="agreement"/>
                        <label for="box-6"></label>
                        <span>[선택] 개인정보 제3자 정보 제공 동의</span>
                        <a>자세히</a>
                </div>
                <div>
                        <input type="checkbox" id="box-7"  name="agreement"/>
                        <label for="box-7"></label>
                        <span>[선택] 개인정보 제3자 정보 제공 동의</span>
                        <a>자세히</a>
                </div>



            </div>

        </div>

        <a href="#/signup-success"><button class="signup-button">회원가입</button>
        </a>


    </div>
</body>

</html>