<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <link rel="stylesheet" href="css/main/main.css">

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="js/utils.js"></script>
    <script src="js/user.js"></script>
</head>

<!------ Include the above in your HEAD tag ---------->

<body>
    <div id="header" style="height: 60px">
        <nav class="navbar">
            <div class="grid">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#"><img src="img/main/black.svg" id="home_icon"></a>
                    </li>

                    <li class="right">
                        <div class="Button-Shape"><a href="#">무료가입</a></div>
                    </li>
                    <li id="signin" class="right"><a href="#">로그인</a></li>
                    <li class="right"><a href="#">기업 서비스</a></li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="body-div" style="height: 900px; background-color: #f2f5f8">
        <div id="signup_div">

            <h2 style="position: absolute; top: 10%; left: 50%">개인회원 회원가입</h2>
            <div style="position: absolute; top: 20%; left: 40%; width: 400px; height: 1000px; border-radius: 5px; background-color: #ffffff; border: solid 1px #eff0f4; padding: 30px 40px;">
                <p style="color: #676767; line-height: 1; font-size: 14px; font-weight: bold; margin: 16px 0px;">이메일</p>
                <input style="color: #676767; font-size: 13px; font-weight: normal; margin-bottom: 10px; height: 32px; border-radius: 3px; background-color: #ffffff; border: solid 1px #ced3d6; padding: 3px 11px; vertical-align: top; width: 95%;" id="signup_id" type="text">
                <p style="color: #676767; line-height: 1; font-size: 14px; font-weight: bold; margin: 16px 0px;">비밀번호</p>
                <input style="color: #676767; font-size: 13px; font-weight: normal; margin-bottom: 10px; height: 32px; border-radius: 3px; background-color: #ffffff; border: solid 1px #ced3d6; padding: 3px 11px; vertical-align: top; width: 95%;" id="signup_pw" type="password">
                <p style="color: #676767; line-height: 1; font-size: 14px; font-weight: bold; margin: 16px 0px;">비밀번호 확인</p>
                <input style="color: #676767; font-size: 13px; font-weight: normal; margin-bottom: 10px; height: 32px; border-radius: 3px; background-color: #ffffff; border: solid 1px #ced3d6; padding: 3px 11px; vertical-align: top; width: 95%;" id="signup_pw_confirm" type="password">
                <p style="color: #676767; line-height: 1; font-size: 14px; font-weight: bold; margin: 16px 0px;">성</p>
                <input style="color: #676767; font-size: 13px; font-weight: normal; margin-bottom: 10px; height: 32px; border-radius: 3px; background-color: #ffffff; border: solid 1px #ced3d6; padding: 3px 11px; vertical-align: top; width: 95%;" id="signup_familyname" type="text">
                <p style="color: #676767; line-height: 1; font-size: 14px; font-weight: bold; margin: 16px 0px;">이름</p>
                <input style="color: #676767; font-size: 13px; font-weight: normal; margin-bottom: 10px; height: 32px; border-radius: 3px; background-color: #ffffff; border: solid 1px #ced3d6; padding: 3px 11px; vertical-align: top; width: 95%;" id="signup_firstname" type="text">
                <p style="color: #676767; line-height: 1; font-size: 14px; font-weight: bold; margin: 16px 0px;">생년월일</p>
                <input style="color: #676767; font-size: 13px; font-weight: normal; margin-bottom: 10px; height: 32px; border-radius: 3px; background-color: #ffffff; border: solid 1px #ced3d6; padding: 3px 11px; vertical-align: top; width: 95%;" id="signup_birth" type="text">
                <p style="color: #676767; line-height: 1; font-size: 14px; font-weight: bold; margin: 16px 0px;">성별</p>                
                <div id="signup_gender">
                    <input id="" value="M" type="radio" name="gender" checked="checked"> 남
                    <input id="" value="F" type="radio" name="gender"> 여
                </div>
                <p style="color: #676767; line-height: 1; font-size: 14px; font-weight: bold; margin: 16px 0px;">휴대폰</p>
                <select id="signup_carrierName">
                    <option value="SKT">SKT</option>
                    <option value="KTF">KTF</option>
                    <option value="LGT">LGT</option>
                </select>
                <input id="signup_phone" type="text">
                <p style="color: #676767; line-height: 1; font-size: 14px; font-weight: bold; margin: 16px 0px;">인증번호</p>
                <input id="signup_confirm_num" type="text">
                <p style="color: #676767; line-height: 1; font-size: 14px; font-weight: bold; margin: 16px 0px;">약관</p>                
                <textarea style="color: #676767; font-size: 13px; font-weight: normal; margin-bottom: 10px; height: 32px; border-radius: 3px; background-color: #ffffff; border: solid 1px #ced3d6; padding: 3px 11px; vertical-align: top; width: 95%;">약관 블라블라~~~~~</textarea><br>
                <button style="cursor:pointer; margin-top: 50px;width: 100%;height: 40px;line-height: 1.08;vertical-align: top;border-radius: 3px;font-size: 15px;background-color: #4c80f1;border: none;color: white;" id="btn_signup">Signup</button>
            </div>
        </div> 
        
        <div id="signup_complete_div" style="display:none">
            <div style="position: absolute; top: 20%; left: 40%; width: 480px; height: 500px; border-radius: 5px; background-color: #ffffff; border: solid 1px #eff0f4;">
                <h2>환영합니다!</h2>
                <span id="signup_complete_name"></span><h3 >님의 레쥬메 회원가입을 ㅎ환영합니다.</h3>
                <h3>지금 바로 증명서발급의 혁신적인 세상, 레쥬메를 이요해보세요.</h3>
                <button id="btn_main">메인으로</button>
            </div>
        </div>        
    </div>

    <div id="footer">

    </div>
</body>

</html>