<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <link rel="stylesheet" href="css/main/main.css">

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="js/utils.js"></script>
    <script src="js/user.js"></script>

</head>

<!------ Include the above in your HEAD tag ---------->

<body>
    <div id="header">
        <nav class="navbar">
            <div class="grid">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#"><img src="img/main/black.svg" id="home_icon"></a>
                    </li>
                    <li class="right">
                        <div class="Button-Shape"><a id="signup" href="#">무료가입</a></div>
                    </li>
                    <li id="signin" class="right"><a href="#">로그인</a></li>
                    <li class="right"><a href="#">기업 서비스</a></li>
                </ul>
            </div>
        </nav>
        <div>
            <div id="signin_div" style="position: absolute; top: 30%; left: 50%; width: 300px; height: 300px; visibility: visible; background-color: white;">
                <div>이메일</div>
                <input id="signin_id" type="text">
                <div>비밀번호</div>
                <input id="signin_pw" type="text">
                <button id="btn_signin">SignIn</button>
            </div>
        </div>        
    </div>

    <div class="body-div">
        <div class="left">

        </div>
        <div class="right">
            <p>나의 이력 관리를, 한번에
            </p>
            <p>흩어져있는 각 대학교, 어학성적 발급기관들에서 관리하고 있는 성적, 재학기간, 졸업정보 등의 정보들을 단 한번의 간편한 회원가입만으로 레쥬메에서 “한번에” 관리할 수 있습니다. </p>
            <p>현재 제휴 기관 : 인하대학교, 경기대학교, 계명대학교, OPIc, 매경TEST</p>
        </div>

    </div>
    <div class="body-div">

    </div>
    <div class="body-div">

    </div>
    <div class="body-div">

    </div>

    <div id="footer">

    </div>
</body>

</html>