<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <link rel="stylesheet" href="css/main/main.css">

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="js/utils.js"></script>
    <script src="js/user.js"></script>
</head>

<!------ Include the above in your HEAD tag ---------->

<body>
    <div id="header">
        <nav class="navbar">
            <div class="grid">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#"><img src="img/main/black.svg" id="home_icon"></a>
                    </li>

                    <li class="right">
                        <div class="Button-Shape"><a href="#">무료가입</a></div>
                    </li>
                    <li id="signin" class="right"><a href="#">로그인</a></li>
                    <li class="right"><a href="#">기업 서비스</a></li>
                </ul>
            </div>
        </nav>        
        <div>
            <div id="siginup_div" style="position: absolute; top: 30%; left: 50%; width: 300px; height: 500px; visibility: visible; background-color: white;">
                <div>이메일</div>
                <input id="signup_id" type="text">
                <div>비밀번호</div>
                <input id="signup_pw" type="text">
                <div>비밀번호 확인</div>
                <input id="signup_pw_confirm" type="text">
                <div>성</div>
                <input id="signup_familyname" type="text">
                <div>이름</div>
                <input id="signup_firstname" type="text">
                <div>생년월일</div>
                <input id="signup_birth" type="text">
                <div>성별</div>
                <input id="signup_gender" type="text">
                <div>휴대폰</div>
                <input id="signup_phone" type="text">
                <div>인증번호</div>
                <input id="signup_confirm_num" type="text">
                <div>약관</div>                
                <input id="signup_terms" type="text">
                <button id="btn_signup">Signup</button>
            </div>
        </div>
    </div>

    <div id="footer">
    </div>
</body>

</html>