<%- include('base_head_import') -%>

    <head>
        <script src="/js/verifypage.js"></script>
        <script type="text/javascript" src="/js/crypto-js/crypto-js.js"></script>
    </head>

    <script>         
        setData('<%- JSON.stringify(data) %>');
    </script>

    <body>

        <%- include('base_footer') -%>

    </body>