<%- include('base_head_import') -%>
<head>
    
    <!-- <link rel="stylesheet" href="css/mypage/base_mycert_resumespage.css">
    <link rel="stylesheet" href="css/mypage/mycert.css">
    <script src="js/certspage.js"></script> -->
    <script src="js/verifypage.js"></script>
</head>

<body>


</body>

</html>