@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
/*
@font-face {
    font-family: Spoqa Han Sans;
    font-weight: 700;
    src: local(Spoqa Han Sans Bold), local(Spoqa Han Sans Bold), url(../fonts/Spoqa%20Han%20Sans%20Bold.woff2) format(woff2), url(../fonts/Spoqa%20Han%20Sans%20Bold.woff) format(woff), url(../fonts/Spoqa%20Han%20Sans%20Bold.ttf) format(truetype);
}



@font-face {
    font-family: Spoqa Han Sans;
    font-weight: 400;
    src: local(Spoqa Han Sans Regular), local(Spoqa Han Sans Regular), url(../fonts/Spoqa%20Han%20Sans%20Regular.woff2) format(woff2), url(../fonts/Spoqa%20Han%20Sans%20Regular.woff) format(woff), url(../fonts/Spoqa%20Han%20Sans%20Regular.ttf) format(truetype);
}

@font-face {
    font-family: Spoqa Han Sans;
    font-weight: 300;
    src: local(Spoqa Han Sans Light), local(Spoqa Han Sans Light), url(../fonts/Spoqa%20Han%20Sans%20Light.woff2) format(woff2), url(../fonts/Spoqa%20Han%20Sans%20Light.woff) format(“woff”), url(../fonts/Spoqa%20Han%20Sans%20Light.ttf) format(truetype);
}

@font-face {
    font-family: ‘Spoqa Han Sans’;
    font-weight: 100;
    src: local(Spoqa Han Sans Thin), local(Spoqa Han Sans Thin), url(../fonts/Spoqa%20Han%20Sans%20Thin.woff2) format(woff2), url(../fonts/Spoqa%20Han%20Sans%20Thin.woff) format(woff), url(../fonts/Spoqa%20Han%20Sans%20Thin.ttf) format(truetype);
}
*/

body {
    font-family: 'Spoqa Han Sans';
    min-width: 1680px;
    /*-webkit-text-stroke: 1px rgba(0,0,0,0.1);*/
    -webkit-font-smoothing:antialiased !important;
    -moz-font-smoothing: unset;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    }

a {
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

.abc-radio label:hover {
    cursor: pointer;
}

button {
    font-family: 'Spoqa Han Sans' !important;
}

button:hover {
    cursor: pointer;
}

input {
    width: calc(100% - 32px);
    padding: 11.2px 16px;
    color: #676767;
    font-size: 13px;
    border-radius: 3px;
    background-color: #ffffff;
    border: solid 1px #ced3d6;
}

.abc-radio label:hover::before {
    border: 1px solid #4c80f1;
}

.error {
    border: solid 1px #f59188 !important;
}

.error-message {
    position: relative;
    font-size: 11px;
    font-weight: normal;
    text-align: left;
    color: #ee4b3c;
    display: none;
    height: 0;
    top: -28px;
    left: 0px;
}

input:focus {
    border: solid 1px #749ffa;
}

input:-moz-read-only {
    /* For Firefox */
    background-color: #f8fafb;
}

input:read-only {
    background-color: #f8fafb;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #d0d0d0;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #d0d0d0;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: #d0d0d0;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #d0d0d0;
}

textarea::-webkit-input-placeholder {
    color: #d0d0d0;
}

textarea:-moz-placeholder {
    /* Firefox 18- */
    color: #d0d0d0;
}

textarea::-moz-placeholder {
    /* Firefox 19+ */
    color: #d0d0d0;
}

textarea:-ms-input-placeholder {
    color: #d0d0d0;
}

#alarm-div {
    padding-right: 46px;
    display: none;
    height: 50px;
    border-radius: 4px;
    background-color: #888d92;
    box-shadow: 0 1px 5px 0 rgba(172, 172, 172, 0.5);
    font-size: 14px;
    color: #fff;
    line-height: 50px;
    padding-left: 19px;
    position: fixed;
    top: 85px;
    right: 50%;
    margin-right: -224px;
}

#alarm-div img {
    position: relative;
    top: 0;
    right: -32px;
    cursor: pointer;
}

#footer {
    line-height: 18px;
    border: solid 1px #d8d8d8;
    padding: 28px 120px;
}

#footer span:nth-child(1) {
    font-size: 13px;
    color: #676767;
    font-weight: 700;
    margin-right: 5px;
}

#footer span:nth-child(2) {
    font-size: 12px;
    color: #676767;
}

#footer span:nth-child(3) {
    float: right;
    font-size: 12px;
    color: #676767;
    padding: 0 20px;
}

#footer span:nth-child(4) {
    float: right;
    font-size: 8px;
    color: #676767;
    font-weight: 700;
}

#footer span:nth-child(5) {
    float: right;
    font-size: 12px;
    color: #676767;
    font-weight: 700;
    padding: 0 20px;
}

#footer span:nth-child(6) {
    float: right;
    font-size: 8px;
    color: #676767;
    font-weight: 700;
}

#footer span:nth-child(7) {
    float: right;
    font-size: 12px;
    color: #676767;
    font-weight: 500;
    padding: 0 20px;
}
/*
select{
  height: 40px;
  border-radius: 4px;
  background-color: #ffffff;
  border: solid 1px #ced3d6;
    padding: 10px 15px;
    padding-right: 35px;
    
    line-height: 20px;
     color: #676767;
    font-size: 13px;
    -webkit-appearance: none; 
   -moz-appearance: none;  
   appearance: none;
    background: url(/img/certviewer/test.png) no-repeat 100% 30%;
    background-size: 34px;
}



select::-ms-expand {
   display: none;            
}

select:after{
    background-color: black;
}

select:before{
    background-color: black;
}

select option{
  color: #676767;
    font-size: 13px;
}

*/

/*




select{
      width: 95px;
  height: 40px;
    font-size: 13px;
    color: #676767;
    font-weight: normal;
    line-height: 1.08;
    
  border-radius: 4px;
  background-color: #ffffff;
  border: solid 1px #ced3d6;
    padding: 10px 15px;
  -webkit-appearance: none;
  -moz-appearance: none;
}

select {
  background-image:
    linear-gradient(45deg, transparent 50%, blue 50%),
    linear-gradient(135deg, blue 50%, transparent 50%),
    linear-gradient(to right, skyblue, skyblue);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    100% 0;
  background-size:
    5px 5px,
    5px 5px,
    2.5em 2.5em;
  background-repeat: no-repeat;
}

select:focus {
  background-image:
    linear-gradient(45deg, white 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, white 50%),
    linear-gradient(to right, gray, gray);
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    100% 0;
  background-size:
    5px 5px,
    5px 5px,
    2.5em 2.5em;
  background-repeat: no-repeat;
  border-color: grey;
  outline: 0;
}

*/

.border-btn {
    border-radius: 3px;
    background-color: #ffffff;
    border: solid 1px #ced3d6;
    font-size: 12px;
    color: #676767;
}

.border-btn:hover {
    background-color: #eaeeef !important;
}

.border-btn:disabled {
    background-color: #ffffff;
    border: solid 1px #dfe5ef;
    color: #ecf2fd;
}

.primary-solid-btn {
    border-radius: 3px;
    font-size: 15px;
    background-color: #4c80f1;
    border: none;
    color: white;
}

.primary-solid-btn:hover {
    background-color: #2c5ae9 !important;
    color: #ffffff;
}

.primary-solid-btn:disabled {
    color: #ffffff;
    background-color: #ecf2fd;
}

p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

input[type="checkbox"] {
    width: 19px;
    height: 19px;
    border-radius: 3px;
    border: solid 1px #ced3d6;
    vertical-align: middle;
}

/* Base for label styling */

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
}

[type="checkbox"]:not(:checked)+label,
[type="checkbox"]:checked+label {
    vertical-align: middle;
    position: relative;
    padding-left: 1.95em;
    cursor: pointer;
}

/* checkbox aspect */

[type="checkbox"]:not(:checked)+label:before,
[type="checkbox"]:checked+label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0px;
    width: 19px;
    height: 19px;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 3px;
}

[type="checkbox"]:not(:checked)+label:hover::before,
[type="checkbox"]:checked+label:hover::before {
    border: 1px solid #4c80f1;
}

[type="checkbox"]:disabled {
    opacity: 0.65;
}

/* checked mark aspect */

[type="checkbox"]:not(:checked)+label:after,
[type="checkbox"]:checked+label:after {
    background: url("/img/common/shape.svg");
    background-repeat: no-repeat;
    background-position: 5px 6px;
    content: "";
    position: absolute;
    top: 0px;
    height: 20px;
    width: 20px;
    left: 0px;
    border-radius: 3px;
    font-size: 12px;
    text-align: center;
    color: white;
    background-color: #4778d9;
    transition: all .2s;
    border: 1px solid #4778d9;
    border-radius: 3px;
}

/* checked mark aspect changes */

[type="checkbox"]:not(:checked)+label:after {
    opacity: 0;
    transform: scale(0);
}

[type="checkbox"]:checked+label:after {
    opacity: 1;
    transform: scale(1);
}

/* disabled checkbox */

[type="checkbox"]:disabled:not(:checked)+label:before,
[type="checkbox"]:disabled:checked+label:before {
    box-shadow: none;
    opacity: 0.65;
    cursor: not-allowed;
}

[type="checkbox"]:disabled:checked+label:after {
    color: #999;
}

[type="checkbox"]:disabled+label {
    color: #aaa;
}

.modal {
    max-width: 570px !important;
    padding: 0px !important;
    width: 570px;
}

.modal>p:nth-child(1) {}

.modal>p {
    color: #676767;
    font-size: 18px;
    line-height: 1.22;
    margin-top: 24px;
    font-weight: bold;
    margin-left: 40px;
}

.modal>p>span {
    color: #a9afb3;
    font-size: 10px;
    margin-left: 11px;
    font-weight: normal;
}

.modal table {
    border-spacing: 1;
    border-collapse: collapse;
    background: white;
    border-radius: 4px;
    max-width: 800px;
    width: 100%;
    border-top: solid 1px #ced3d6;
    margin-top: 20px;
    height: 300px;
}

td,
th {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.modal table td,
table th {
    padding-left: 8px;
}

.modal table tr {
    height: 100px;
    display: block;
}

.modal table tbody {
    overflow-y: auto;
    display: block;
    height: 300px;
}

.modal table tbody tr {
    height: 48px;
    border-bottom: solid 1px #dfe5ef;
}

.modal table th {
    font-weight: bold;
}

.modal table td,
table th {
    text-align: left;
    font-size: 12px;
    color: #676767;
    height: 45px;
    vertical-align: middle;
}

.modal table td:nth-child(1),
th:nth-child(1) {
    width: 88px;
    text-align: center;
}

.modal table td:nth-child(2),
th:nth-child(2) {
    width: 78px;
}

.modal table td:nth-child(3),
th:nth-child(3) {
    width: 60px;
}

.modal table td:nth-child(4),
th:nth-child(4) {
    width: 50px;
}

.modal table td:nth-child(5),
th:nth-child(5) {
    width: 50px;
}

.modal table td:nth-child(6),
th:nth-child(6) {
    width: 90px;
}

.modal table td:nth-child(7),
th:nth-child(6) {
    padding-right: 10px
}

.modal a.close-modal {
    position: absolute;
    top: 23.5px !important;
    right: 40px !important;
    width: 24px !important;
    height: 24px !important;
    background-size: 17px !important;
    background-image: url("/img/myresume/close-gray.svg") !important;
}

.modal-footer {
    background-color: #f2f5f8;
    height: 70px;
    border-radius: 4px;
}

.modal button {
    font-size: 13px;
    width: 115px;
    height: 40px;
    line-height: 1.08;
    vertical-align: top;
}

.modal .cancel-btn {
    float: right;
    margin: 15px 10px 0px 0px;
}

.modal .confirm-btn {
    float: right;
    margin: 15px 36px 0px 0px;
}

.modal-body {
    margin-top: 24px;
    padding: 14px 40px 30px;
    border: solid 1px #ced3d6;
}

.modal-body p {
    color: #676767;
    line-height: 1;
    font-size: 14px;
    font-weight: bold;
    margin: 12px 0px;
}

.modal-body input {
    color: #676767;
    font-size: 13px;
    font-weight: normal;
    margin-bottom: 10px;
    height: 32px;
    border-radius: 3px;
    background-color: #ffffff;
    border: solid 1px #ced3d6;
    padding: 3px 11px;
    vertical-align: top;
}

/*
.modal-body select {
    color: #676767;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 30px;
    vertical-align: middle;
    height: 47px;
    border-radius: 3px;
    background-color: #ffffff;
    border: solid 1px #ced3d6;
    padding: 3px 16px;
}

*/

.calendar {
    border-bottom-left-radius: 4px 4px !important;
    border-top-left-radius: 4px 4px !important;
    border-bottom-right-radius: 0px 0px !important;
    border-top-right-radius: 0px 0px !important;
    background: white !important;
    border: 1px solid #ced3d6;
    width: 40px !important;
    height: 40px !important;
}

.slide-toggle {
    display: block;
    position: relative;
    flex: none;
    width: 38px;
    height: 19px;
    border-radius: 12px;
    background: url("/img/common/shape.svg");
    background-repeat: no-repeat;
    background-position: 5px 5px;
    background-color: #ced3d6;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    z-index: 1;
}

.slide-toggle::before,
.slide-toggle::after {
    content: ' ';
    display: block;
    position: absolute;
    top: 1px;
    border-radius: 12px;
    background-color: #fff;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transition: 0.2s cubic-bezier(0, 1.1, 1, 1.1);
}

.slide-toggle::before {
    z-index: -1;
    width: 48px;
    right: 1px;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.slide-toggle::after {
    z-index: 1;
    width: 15.8px;
    height: 15.8px;
    left: 0.2px;
    top: 1.5px;
    box-shadow: 0 1px 4px 0.5px rgba(0, 0, 0, 0.25);
}

input:checked+.slide-toggle {
    background-color: #4c80f1;
}

input:checked+.slide-toggle::before {
    -webkit-transform: scale(0);
    transform: scale(0);
}

input:checked+.slide-toggle::after {
    -webkit-transform: translate3d(20px, 0, 0);
    transform: translate3d(20px, 0, 0);
}


.sub-info-select-div-signout {
    display: none;
    width: 150px;
    height: 40px;
    border-radius: 4px;
    box-shadow: 0 1px 3px 0 rgba(207,207,207,0.5);
    background-color: #fff;
    border: solid 1px #ced3d6;
    position: absolute;
    top: 53px;
    right: 225px;
    transform: none;
    z-index: 2;
}

.sub-info-select-signout-p {
    width: auto;
    transform: initial;
    font-size: 13px;
    text-align: center;
    line-height: 38px;
    color: #676767;
    margin: 0;
    padding: 0 15px;
    cursor: pointer;
}
