body {
    margin: 0;
}

.landing-navbar{
  background-color:transparent!important;
  border: none!important;
}

#header {
    height: 850px;
    object-fit: contain;
    background-image: url("/img/main/header-background.png");
    background-position: center;
  background-repeat: no-repeat;
    background-color: rgba(14, 49, 89, 0.85);
}


/*

#navbar{
margin: auto;
  width: 1680px;
  height: 60px;
        padding: 0px 65px;
}
*/


#jombo {
    margin-top: 238px;
    margin-bottom: 0px;
    font-size: 55px;
    text-align: center;
    color: #ffffff;
}

#sub-title {
    font-size: 16px;
    text-align: center;
    color: white;
    margin-bottom: 70px;
    font-weight: 500;
}

#resume-start-btn {
    width: 350px;
    height: 70px;
    border-radius: 2px;
    display: block;
    background-color: #4a90e2;
    border: none;
    text-align: center;
    margin: auto;
    color: #ffffff;
    font-size: 18px;
}

#resume-start-btn:hover{
  background-color: #2c5ae9;
    color: #ced3d6;
    color: #ffffff;
}

.title-2{
    font-size: 35px;
    color: #2b2c2c;
    margin-top: 87px;
    margin-bottom: 28px;
}

.sub-title-2{
    font-size: 15px;
    line-height: 1.8;
    color: #7c848a;
    margin: 0;
    margin-bottom: 0px;
}


/* 첫번쨰 설명부분 시작 */
.body-div {
  overflow-y: hidden;
    height: 797px;
    background-color: #ffffff;
    border-bottom: solid 1px #d7dde3;
}

.body-container{

    position: relative;
    width: 1000px;
    margin: auto;
}

.title_A{
    font-size: 37px;
    color: #2b2c2c;
    margin-top: 87px;
    margin-bottom: 25px;
    text-align:center;
}

.sub-title_A{
    font-size: 16px;
    line-height: 1.69;
    color: #7c848a;
    margin: 0;
    margin-bottom: 30px;
    text-align:center;
}


.body-div:nth-child(2) img{
    display: block;
    margin-left: -16px;
 /* width: 1000px;
height: 535px;*/
}

.body-div:nth-child(2) p{
    text-align: center;
}


.body-div:nth-child(3) img{
  width: 495px;
  height: 450px;
  margin-top: 170px;
}

.body-div:nth-child(3) p{
    text-align: left;
}
.body-div .left{
    display: inline-block;
    width: 49%;

     vertical-align: 130px;
}


.body-div .right{

    display: inline-block;
    width: 50%;
}

.body-div:nth-child(4) img{
position: absolute;
top:174px;
left: 0;
  width: 700px;
  height: 486px;
}

.body-div:nth-child(4) .title-2{
    position: absolute;
    top: 68px;

    left: 577px;
}

.body-div:nth-child(4) .sub-title-2{
    position: absolute;
top: 229px;
    left: 577px;
}

.bottom-div{
  height: 502px;
  text-align: center;
  background-color: #f2f5f8;
}

.bottom-div img{
      width: 204px;
  height: 24px;

      margin-top: 154px;
}
.bottom-div p{
    font-size: 25px;
    color: #9b9b9b;

      margin-top: 16px;

      margin-bottom: 48px;
}

.bottom-div button{
    width: 350px;height: 70px;
    border-radius: 2px;
    background-color: #2c3e4e;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    border: 1px solid #2C3E4E;
}
.bottom-div button:hover{
  background-color: #131f2a;
}
.navbar-default {
    background-color: initial;
    border: initial;
}


/* 두번째 설명부분 시작 */

.title_B{
    font-size: 37px;
    color: #2b2c2c;
    margin-bottom: 25px;
    text-align: left;
}

.sub-title_B{
    font-size: 16px;
    line-height: 1.69;
    color: #7c848a;
    margin-bottom: 30px;
    text-align: left;
}


.body-div_B {
  overflow-y: hidden;
    height: 797px;
    background-color: #FAFCFD;
    border-bottom: solid 1px #d7dde3;
}

.body-container_B{position: relative;width: 1000px;margin: auto;}


.body-div_B:nth-child(2) img{
    display: block;
    margin-left: 0px;
 /* width: 1000px;
height: 535px;*/
}

.body-div_B:nth-child(2) p{
    text-align: center;
}


.body-div_B:nth-child(3) img{
  width: 495px;
  height: 450px;
  margin-top: 350px;
}

.body-div_B:nth-child(3) p{
    text-align: left;
}
.body-div_B .left{
    display: inline-block;
    width: 49%;
    vertical-align: 80px;
}


.body-div_B .right{display: inline-block;width: 50%; align-content: center; }



/* 세번째 설명 시작 */

.title_C{
    font-size: 37px;
    color: #2b2c2c;
    /*margin-top: 170px;
    margin-bottom: 25px;*/
    text-align:right;
    position: absolute;
    top: 130px;
    left: 520px;
}

.sub-title_C{
    font-size: 16px;
    line-height: 1.69;
    color: #7c848a;
    /* margin: 0;
    margin-bottom: 30px;*/
    position: absolute;
    top: 200px;
    left: 520px;
}



.body-div_C {
  overflow-y: hidden;
    height: 797px;
    background-color: #ffffff;
    border-bottom: solid 1px #d7dde3;
}

.body-container_C{position: relative;width: 1000px;margin: auto;}


.body-div_C:nth-child(2) img{
    display: block;
    margin-left: 0px;
 /* width: 1000px;
height: 535px;*/
}

.body-div_C:nth-child(2) p{
    text-align: center;
}


.body-div_C:nth-child(3) img{
  width: 495px;
  height: 450px;
  margin-top: 350px;
}

.body-div_C:nth-child(3) p{
    text-align: left;
}
.body-div_C .left{
    display: inline-block;
    width: 49%;
    vertical-align: 80px;
}


.body-div_C .right{display: inline-block;width: 50%; align-content: center; }

.body-div_C:nth-child(4) img{
position: absolute;
top:174px;
left: 0;
  width: 700px;
  height: 486px;
}

.body-div_C:nth-child(4) .title-2{
    position: absolute;
    top: 68px;

    left: 577px;
}

.body-div_C:nth-child(4) .sub-title-2{
    position: absolute;
top: 229px;
    left: 577px;
}
