#index {
    cursor: pointer;
}


.developer-body {
    margin: 0;
    
}

.imgheader_wrap {
    height: 70px;
    width: 100%;
    background-color: #2B2C2C;
}

.header {
    padding-top: 22px;
    padding-left: 30px;
}


.center {
    width:100%;
    min-height: calc(100% - 70px);
    max-height:calc(100% - 70px);
    background-color: #f9f9f9;
}


.l_center_wrap {
    margin: 15px;
    float: left;
}

.l_center {
    min-width : 290px;
    min-height: calc(100% - 100px);
    float: left;
    border-right: 2px solid #c2c2c2;
}



.l_center_sdk_download_wrap{
    text-align: left;
    padding-left: 15px;
    padding-bottom: 7px;
    padding-top: 6px;
    width: 260px;

    border-bottom: 0.5px solid #c2c2c2;
    border-top: 0.5px solid #c2c2c2;
}


.l_center_sdk_download {
    text-decoration: none;
    font-weight: 600;
    color : #2B2C2C;
    font-size : 17px;
    
}




.l_center_REST_API_Reference_oauth_wrap{
    text-align: left;
    padding-left: 15px;
    padding-bottom: 7px;
    padding-top: 6px;
    width: 260px;

    border-bottom: 0.5px solid #c2c2c2;
    
}


.l_center_REST_API_Reference_oauth {
    text-decoration: none;
    font-weight: 600;
    color : #2B2C2C;
    font-size : 17px;
}



.l_center_REST_API_Reference_javascript_wrap{
    text-align: left;
    padding-left: 15px;
    padding-bottom: 7px;
    padding-top: 6px;
    width: 260px;

    border-bottom: 0.5px solid #c2c2c2;
}


.l_center_REST_API_Reference_javascript {
    text-decoration: none;
    font-weight: 600;
    color : #3ea2d1;
    font-size : 17px;
}


.r_center_wrap{
    padding-top: 15px;
    overflow:scroll; 
    max-height: calc(100% - 100px);
    min-height: calc(100% - 100px);
}

.r_center {
    width: auto;  
}

.content_header {
    font-size:22px;
    font-weight:600;
    height:42px;
    border-bottom: 1px solid #2B2C2C;
}

.content_line{
    margin-top: 5px;
    color : #2B2C2C;
    font-size:13px;
}

.padding-top{
    padding-top:20px;
}

.content_header2{
    font-size : 15px;
    font-weight: bolder;
    border-bottom: 1px solid #e6e6e6;
}

blockquote {
    margin-top: 9px;
    padding: 8px 20px 8px;
    border: 1px solid #e6e6e6;
    background: #fefefe;
    font-size: 14px;
    color: #444;
    width: 750px;
}

.params{
    font-size: 16px;
    color: #a8a8a8;
}