#index {
    cursor: pointer;
}



.developer-body {
    margin: 0;
    
}

.imgheader_wrap {
    height: 70px;
    width: 100%;
    background-color: #2B2C2C;
}

.header {
    padding-top: 22px;
    padding-left: 30px;
}


.center {
    width:100%;
    min-height: calc(100% - 70px);
    max-height:calc(100% - 70px);
    background-color: #f9f9f9;
}


.l_center_wrap {
    margin: 15px;
    float: left;
}

.l_center {
    min-width : 290px;
    min-height: calc(100% - 100px);
    float: left;
    border-right: 2px solid #c2c2c2;
}



.l_center_sdk_download_wrap{
    text-align: left;
    padding-left: 15px;
    padding-bottom: 7px;
    padding-top: 6px;
    width: 260px;

    border-bottom: 0.5px solid #c2c2c2;
    border-top: 0.5px solid #c2c2c2;
}


.l_center_sdk_download {
    text-decoration: none;
    font-weight: 600;
    color : #2B2C2C;
    font-size : 17px;
    
}




.l_center_REST_API_Reference_oauth_wrap{
    text-align: left;
    padding-left: 15px;
    padding-bottom: 7px;
    padding-top: 6px;
    width: 260px;

    border-bottom: 0.5px solid #c2c2c2;
    
}


.l_center_REST_API_Reference_oauth {
    text-decoration: none;
    font-weight: 600;
    color : #3ea2d1;
    font-size : 17px;
}



.l_center_REST_API_Reference_javascript_wrap{
    text-align: left;
    padding-left: 15px;
    padding-bottom: 7px;
    padding-top: 6px;
    width: 260px;

    border-bottom: 0.5px solid #c2c2c2;
}


.l_center_REST_API_Reference_javascript {
    text-decoration: none;
    font-weight: 600;
    color : #2B2C2C;
    font-size : 17px;
}


.r_center_wrap{
    padding-top: 15px;
    overflow:scroll; 
    max-height: calc(100% - 100px);
    min-height: calc(100% - 100px);
}

.r_center {
    width: auto;
}

.content_header {
    font-size:22px;
    font-weight:600;
    height:42px;
    border-bottom: 1px solid #2B2C2C;
}

.content_line{
    margin-top: 5px;
    color : #2B2C2C;
    font-size:13px;
}

.content_header2 {
    padding-top:5px;
    font-size:16px;
    font-weight:600;
    height:18px;
    color: #677;
    padding-bottom: 5px;
}

pre {
    display: block;
    padding: 8px 10px 8px;
    border: 1px solid #e6e6e6;
    line-height: 1.42857143;
    word-break: break-all;
    word-wrap: break-word;
    border-radius: 0;
    background: #fff;
    font-size: 1em;
    color: #666666;
    letter-spacing: 0;
    width:925px;
    background-color: #001f35 !important;
    font-weight: 600;
}

.hljs {
    color: #e0e2e4;
}

.hljs-request{
    font-weight: bold;
}

.hljs-string {
    color: #7af7ed;
}

table{
    display:table;
    width: 947px;
    font-size: 13px;
}


tr {
    display:table-row;
    vertical-align: inherit;
    border-color:inherit;
    
}
th{
    padding-top: 5px;
    padding-bottom: 5px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    
}

.table tbody tr td:nth-child(1) {
    width: 180px;
    padding-left: 10px;
    height: 45px;
    border-bottom: 1px solid #e6e6e6;
}

.table tbody tr td:nth-child(2) {
    padding-left: 10px;
    border-bottom: 1px solid #e6e6e6;
}

.table tbody tr td:nth-child(3) {
    width: 130px;
    border-bottom: 1px solid #e6e6e6;
}



.table thead tr:nth-child(1) {
    font-size: 14px;
    background-color: #ddd;
}

.table thead tr th{
    height: 40px;
}


.table thead tr th:nth-child(1){
    padding-left:10px;
}

.table thead tr th:nth-child(2){
    padding-left:10px;
}

.table tbody {
    font-weight: 450;
    color: #666666;
    font-size:14px;
}

td {
    padding-top: 5px;
    padding-bottom: 5px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
   
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

.padding-top{
    padding-top:20px;
}