.main-container button:hover{
	 background-color: #131f2a;
	 cursor: pointer;
}

.main-container button:disabled{
	background-color: #ecf2fd;
}

.error-message{
	top: 3px;
}

input:focus{
	border: 1px solid rgb(76,128,241);
	outline-color: transparent;
}

.main-container{
}
.loading-container{
	display: none;
	padding:43px 38px 39px 38px;
	background: white;
	margin: 102px 22px 0px 22px;
	text-align: center;
}

.loading-container img{
	widows: 80px;
	height: 80px;
}

.loading-container p:nth-child(2){
	font-size: 16px;
	line-height: 22px;
	font-weight: bold;

     color: #676767;
    margin-top: 24px;
}
.loading-container p:nth-child(3){
	font-size: 11px;
	line-height: 18px;
	font-weight: normal;

     color: #676767;
    margin-top: 4px;
}

.loading-container span {
width:6px;
height:6px;
display:inline-block;
border-radius:10px;
background-color:#dadada;
    vertical-align: 35px;
    margin: 1.5px;
}

.main-body-footer {
	margin: auto;
	width: 46%;

}

.main-body-footer-1st-line {
	height: 40px;
}

.main-body-footer-left {
	float: left;
	width: calc(100% - 100px);
	height:40px;
	font-size: 12px;
}

.main-body-footer-right {
	float: right;
	width: 100px;
	height: 40px;
	border-radius: 4px;
	background-color: #979fa9;
}

.main-body-footer-1 {
	float:left;
	width: 135px;
	height: 18px;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #878d91;
	border: initial;
}

.main-body-footer-2 {
	float:left;
	width: 150px;
	height: 18px;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #878d91;
	border: initial;
}

.main-body-footer-3 {
	width: 400px;
	height: 18px;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #878d91;
	border: initial;
}

.main-body-footer-4 {
	float: left;
	border: initial;
	width: 135px;
	height: 18px;
}

.main-body-footer-5 {
	float: left;
	border: initial;
	width: 150px;
	height: 18px;
}

.main-body-footer-6 {
	float: left;
	border: initial;
	width: calc(100% - 300px);
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    word-wrap: normal !important;
    display: block;
}

.main-body-footer-right-button1 {
	position: relative;
	top : 7px;
	left: 21px;
	width: 55px;
	height: 20px;
	font-size: 14px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: right;
	color: #ffffff;
}

.footer-verify-1 {
	width: 830px;
	height: 50px;
	background-color: #ffffff;
	border: solid 1px #dfe5ef;
}

.footer-verify-2 {
	width: 830px;
	height: 50px;
	background-color: #ffffff;
	border: solid 1px #dfe5ef;
}

.footer-verify-3 {
	width: 830px;
	height: 50px;
	background-color: #ffffff;
	border: solid 1px #dfe5ef;
}

.footer-verify-4 {
	width: 830px;
	height: 50px;
	background-color: #ffffff;
	border: solid 1px #dfe5ef;
}

.footer-verify-left {
	float :left;
	width: 100px;
	height: 50px;

	font-size: 12px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	letter-spacing: normal;
	color: #878d91;
	line-height: 50px;
	text-align: center;
}

.footer-verify-center {
	float :left;

	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #878d91;
	line-height: 50px;
}

.footer-verify-right {
	float :right;
	width: 150px;
	height: 50px;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #878d91;
	line-height: 50px;
	text-align: right;
	margin: 0px 32px 0px 0px;
}

@keyframes anim {
	0%   { transform: translateY(0); opacity: .2; }
	50%  { transform: translateY(-10px); opacity: .6; }
	100% { transform: translateY(0); opacity: .2; }
}

.Shape {
	width: 20px;
	height: 20px;
	object-fit: contain;
}

@media screen and (min-width: 1000px){
	body{
		background-color: #f2f5f8;

     	position: relative;
		height: calc(1000px - 332px);
	}

	.main-container{
	    position: relative;
	    width: 390px;
	    margin: 0px auto;
	    margin-top: 332px;

	}

	.main-container p{
	  font-size: 15px;
	  line-height: 1.6;
	  text-align: center;
	  color: #676767;
	  margin-bottom: 40px;
	}

	.main-container button{
		margin-top: 25px;
	  width: 390px;
	  height: 54px;
	  border-radius: 3px;
	  background-color: #2c3e4e;
	  font-size: 15px;
	  font-weight: bold;
	  text-align: center;
	  color: #ffffff;
	  border: none;
	}

	span.bottom-element {
		position: absolute;
		bottom: 70px;
		left: calc(50% - 33px);
	  font-size: 12px;
	  font-weight: normal;
	  text-align: left;
	  color: #7c848a;
	}

	img.bottom-element {
		position: absolute;
		bottom: 46px;
		left: calc(50% - 74px);
	  width: 148px;
	  height: 16px;
	}

	.loading-container{
		    width: 332px;
		    height: auto;
		    margin: 332px auto;
	}
}

@media screen and (max-width: 1000px){
	body{
		min-width: 0px;
		background-color: #f2f5f8;
		    height: calc(100vh - 167px);
     position: relative;

	}

	.main-container{
	    position: relative;
	    width: 293px;
	    margin: 0px auto;
	    margin-top: 102px;

	}


	.main-container p{
	  font-size: 15px;
	  line-height: 1.6;
	  text-align: center;
	  color: #676767;
	  margin-bottom: 39px;
	}


	.main-container button{
		margin-top: 25px;
	  width: 295px;
	  height: 54px;
	  border-radius: 3px;
	  background-color: #2c3e4e;
	  font-size: 15px;
	  font-weight: bold;
	  text-align: center;
	  color: #ffffff;
	  border: none;
	}

	span.bottom-element {
		position: absolute;
    top: 480px;
    left: calc(50% - 33px);
	  font-size: 12px;
	  font-weight: normal;
	  text-align: left;
	  color: #7c848a;
	}

	img.bottom-element {
		position: absolute;
		top: 500px;
		left: calc(50% - 74px);
	  width: 148px;
	  height: 16px;
	}
}


@media (max-width:720px) {
	.loading-container{
		width: 200px;
		height: auto;
		margin: 80px auto;
	}

	.loading-container div:nth-child(1) {
		width: 215px;
	}

	.loading-container img {
		width: 60px;
		height: 60px;
	}

	.loading-container p:nth-child(2) {
		font-size: 15px;
	}
	
	.loading-container p:nth-child(3) {
		font-size: 10px;		
	}

	/* 하단 검증쪽  */
	.main-body-footer {
		margin: auto;
		width: 330px;
	}

	.main-body-footer-1 {
		float: left;
		width: 90px;
		height: 18px;
		font-size: 10px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		color: #878d91;
		border: initial;
	}

	.main-body-footer-2 {
		float: left;
		width: 75px;
		height: 18px;
		font-size: 10px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		color: #878d91;
		border: initial;
	}

	.main-body-footer-3 {
		width: 250px;
		height: 18px;
		font-size: 10px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		color: #878d91;
		border: initial;
	}

	.main-body-footer-4 {
		float: left;
		border: initial;
		width: 90px;
		height: 18px;
	}

	.main-body-footer-5 {
		float: left;
		border: initial;
		width: 75px;
		height: 18px;
	}

	.main-body-footer-6 {
		float: left;
		border: initial;
		width: calc(100% - 300px);
		text-overflow: ellipsis;
		-o-text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		word-wrap: normal !important;
		display: block;
	}

	.main-body-footer-right {
		float: right;
		width: 60px;
		height: 35px;
		border-radius: 4px;
		background-color: #979fa9;
	}

	.main-body-footer-right-button1 {
		position: relative;
		top: 3px;
		left: 10px;
		width: 50px;
		height: 20px;
		font-size: 10px;
		font-weight: bold;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		text-align: center;
		color: #ffffff;
	}
	
}