#popup-dialog{
	width: 335px ;
	height: 615px;
	border-radius: 4px;
	background-color: #ffffff;
	box-shadow: 0 2px 3px 0 rgba(64, 64, 64, 0.5);	
	text-align: center;
	padding: 55px 0px 43px 0px !important;
}
#popup-dialog a{
	display: none;
}

#popup-dialog .popup-header{
	padding: 0px 43px 0px 42px ;
}

#popup-dialog img{
	width: 61px;
	height: 61px;	
}


#popup-dialog h2{
	font-size: 23px;
	font-weight: bold;
	text-align: center;
	color: #33333d;
	margin-top: 23px;
	margin-bottom: 7px;
}

#popup-dialog h3{
	font-size: 13px;
	font-weight: normal;
	line-height: 1.77;
	text-align: center;
	color: #7c848a;
	margin-top: 0px;
	margin-bottom: 44px;
}

#popup-dialog h4{
	font-size: 12px;
	font-weight: bold;
	text-align: left;
	color: #a9afb3;
}

.content{
	padding: 22px 43px 4px 42px;
	border-top: solid 1px #e2e8f0;
	border-bottom: solid 1px #eaeef3;
}

.content p span{
	margin-bottom: 20px;

}
.content p span:nth-child(1){
	float: left;
	font-size: 15px;
	font-weight: normal;
	color: #a9afb3;

}
.content p span:nth-child(2){
	float: right;
	font-size: 15px;
	font-weight: normal;
	 color: #676767;
}

#popup-dialog  button{
	margin-top: 28px;
	width: 250px;
	height: 50px;
	border-radius: 3px;
	background-color: #4c80f1;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
	color: #ffffff;
	border: none;
}

@media screen and (min-width: 720px){
	body{
		min-width: 0px;
		height: 100vh;
        background:  #f2f5f8;
	}

	.main-body{
		background-color: #f2f5f8;
		padding: 35px 0px;
		margin: 0;
	}

	.header{
		padding: 12px 19px;		    
     	background: white;
	}

	.hide-in-mobile{
		display: none;
	}

	.outer-container{
		width: 840px;
    	height: 1188px;
	}

	.inner-container{
		width: 98%;
		height: 98%;
		/* margin-top: 20px; */
		background: white;
		font-size: 60%;
		border: solid 2px #2b2c2c;
		/* margin: 20px; */
	}

	.inner-container img {
		width: 100%
	}

	.cert-title{
		font-size: 17px;
		letter-spacing: 16px;
		margin: 47px auto;
		height: auto;
		line-height: inherit;
	}

	.cert-body{
		width: 226px;
		height: auto;
		font-size: 10px;		
	}

	.cert-body > div > div{
		padding: 5px 0px;
	}
	.stamp {
	    bottom: 14px;
	    right: 47px;
	    width: 48px;
	    height: 48px;
	}

	.cert-footer{
		font-size: 11px;
		letter-spacing: 3.4px;
		bottom: 77px;
		width: 200px;
		margin-left: -100px;
	}

	.cert-reference{
		font-size: 15px;
		letter-spacing: 8.8px;
		bottom: 32px;
    	width: 300px;
     	margin-left: -150px; 
	}

	.two-word-interval {
	    width: 40px;
	}
	.four-word-interval {
	    width: 4px;
	}
	.cert-body > div > div:nth-child(1) {     
      	width: 67px;
	}
	.cert-body > div > div:nth-child(2) {
		width: 25px;
		text-align: left;
		margin-right: 0px;
	}
	.cert-body > div > div:nth-child(3) {
     	letter-spacing: 2.4px;
	}
}


@media (max-width:720px) {
	body {
		
	}

	.main-body {
		padding: 0px;
	}

	.header > div {
        display: inline-block;
        width: 100px;
		vertical-align: middle;
		/* margin-right: 40px; */
	}
	
	/*
	.header button {		
		float: inherit;		
		margin-left: 5px;
	}
	*/

	.header {
		padding: 7px 20px;
    	font-size: 20px;
	}

	.header a:nth-child(1) {
        display: none;
    }

    .header button:nth-child(3) {
        display: none;
    }

    .header a:nth-child(4) > button {
        background-color: #4c80f1;
        color: white;
        width: 50px;
        height: 30px;
        font-size: 10px;
    }

    .header button:nth-child(5) {
        width: 55px;
        height: 30px;
        font-size: 10px;
    }

    .header button:nth-child(6) {
        width: 45px;
        height: 30px;
        font-size: 10px;
    }    

    .header > div p:nth-child(1) {
        font-size: 12px;
        font-weight: bold;
        color: #676767;
	}
	
	.outer-container{
		width: 360px;
		height: 507px;
		padding-top: 10px;
	}
	
    .inner-container {
		width: 95%;
		margin: auto;
		border: solid 1px #2b2c2c;
	}	

	.inner-container img {
		width: 100%;
	}	
	
	
}

@media (max-width:360px) {
	.header {
		width: 324px;
	}
}