@import url("style.css");

.wrap {
    background-color: #ffffff;
    position: relative;
    top: 0px;
    left: 0px;
  }

  .header {
    position: relative;
    top: 0px;
    left : 0px;
    width: 100%;
    height: 75px;
    background-color: #3c435f;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
  }

  .header_content {
    height: 75px;
  }

  .logo {
    position: relative;
    left : 7%;
    width: 244px;
    height: 42px;
    object-fit: contain;
    margin: 13px 0px 0px 0px;
    float: left;
  }

  .header_sub {
    position: relative;
    width:1205px;
    height: 75px;
    float:left;
  }
  
  .header_user_menu {
    position: relative;
    float: right;
    margin: 35px 0px 0px 0px;
    width: 11px;
    height: 6px;
  }
  
  .header_user_info {
    position: relative;
    float: right;
    margin: 26px 12px 0px 0px;
    height: 22px;
    font-family: 'Spoqa Han Sans';
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.8px;
    text-align: left;
    color: #ffffff;
  }

  .header_user_photo {
    position: relative;
    float: right;
    margin: 21px 17px 0px 0px;
    width: 32px;
    height: 32px;
    /*border: solid 2px #8e9aca;*/
  }
  
  .header_line {
    position: relative;
    float: right;
    width: 3px;
    height: 15px;
    /*border: solid 1px #6b7291;*/
    margin: 30px 36px 0px 0px;
  }

  .header_menu {
    position: relative;
    float:right;
    width: 98px;
    height: 22px;
    margin: 27px 39px 0px 0px;
  }
  
  .header_menu_text {
    position: relative;
    float: right;
    width: 79px;
    height: 22px;
    font-family: 'Spoqa Han Sans';
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1px;
    text-align: left;
    color: #ffffff;
    float:left;
    margin: 0px 0px 0px 0px;
  }

 .header_more_1 {
    margin: 8px 0px 0px 0px;
  }
  