


.qrcode {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

#user-info-div img:nth-child(1) {    
    position: absolute;
    left: 3%;
    top: 17.5%;
    width: 100px;
}

#user-info-div p:nth-child(2) {    
    position: absolute;
    left: 30%;
    top: 17.5%;
    font-family: 'Nanum Myeongjo', serif;
}

#user-info-div p:nth-child(3) {    
    position: absolute;
    left: 30%;
    top: 20.5%;
    font-family: 'Nanum Myeongjo', serif;
}

#user-info-div p:nth-child(4) {    
    position: absolute;
    left: 30%;
    top: 23%;
    font-family: 'Nanum Myeongjo', serif;
}

#user-info-div p:nth-child(5) {    
    position: absolute;
    left: 30%;
    top: 26%;
    font-family: 'Nanum Myeongjo', serif;
}

#main-score-info-div p:nth-child(1) {
    position: absolute;
    left: 56%;
    top: 19%;
    font-family: 'Nanum Myeongjo', serif;
}

#main-score-info-div p:nth-child(2) {
    position: absolute;
    left: 79%;
    top: 19%;
   font-family: 'Nanum Myeongjo', serif;
}

#main-score-info-div p:nth-child(3) {
    position: absolute;
    left: 56%;
    top: 24.5%;
    font-family: 'Nanum Myeongjo', serif;
}

#main-score-info-div p:nth-child(4) {
    position: absolute;
    left: 79%;
    top: 24.5%;
    font-family: 'Nanum Myeongjo', serif;
}

#detail-score-info-div p:nth-child(1) {
    position: absolute;
    left: 28%;
    top: 39.5%;
    font-family: 'Nanum Myeongjo', serif;
}

#detail-score-info-div p:nth-child(2) {
    position: absolute;
    left: 28%;
    top: 43%;
    font-family: 'Nanum Myeongjo', serif;
}

#detail-score-info-div p:nth-child(3) {
    position: absolute;
    left: 28%;
    top: 46.5%;
    font-family: 'Nanum Myeongjo', serif;
    
}

#detail-score-info-div p:nth-child(4) {
    position: absolute;
    left: 28%;
    top: 50.5%;
    font-family: 'Nanum Myeongjo', serif;
}

#detail-score-info-div p:nth-child(5) {
    position: absolute;
    left: 28%;
    top: 54%;
    font-family: 'Nanum Myeongjo', serif;
}

#detail-score-info-div p:nth-child(6) {
    position: absolute;
    left: 28%;
    top: 58%;
    font-family: 'Nanum Myeongjo', serif;
}

#detail-score-info-div p:nth-child(7) {
    position: absolute;
    left: 41%;
    top: 39.5%;
    font-family: 'Nanum Myeongjo', serif;
}

#detail-score-info-div p:nth-child(8) {
    position: absolute;
    left: 41%;
    top: 43%;
    font-family: 'Nanum Myeongjo', serif;
}

#detail-score-info-div p:nth-child(9) {
    position: absolute;
    left: 41%;
    top: 46.5%;
    font-family: 'Nanum Myeongjo', serif;
}

#detail-score-info-div p:nth-child(10) {
    position: absolute;
    left: 41%;
    top: 50.5%;
    font-family: 'Nanum Myeongjo', serif;
}

#detail-score-info-div p:nth-child(11) {
    position: absolute;
    left: 41%;
    top: 54.5%;
    font-family: 'Nanum Myeongjo', serif;
}

#detail-score-info-div p:nth-child(12) {
    position: absolute;
    left: 41%;
    top: 58%;
    font-family: 'Nanum Myeongjo', serif;
}

#qrmessage {    
    padding: 10px 25px 80px;
}


@media screen and (min-width: 840px){



    .main-body {
        font-size: 15px;
    }

    .inner-container {
        margin: auto;
    }

    .inner-container img {
        width: 100%;        
    }

    .inner-container .mk-bg {        
        width: 100%;        
    }
    
    #user-info-div img:nth-child(1) {
        position: absolute;
        left: 15px;
        top: 205px;
        width: 113px;
        font-family: 'Nanum Myeongjo', serif;
    }    

    #user-info-div p:nth-child(2) {    
        position: absolute;
        left: 245px;
        top: 220px;
        font-family: 'Nanum Myeongjo', serif;
    }
    
    #user-info-div p:nth-child(3) {    
        position: absolute;
        left: 245px;
        top: 250px;
        font-family: 'Nanum Myeongjo', serif;
    }
    
    #user-info-div p:nth-child(4) {    
        position: absolute;
        left: 245px;
        top: 285px;
        font-family: 'Nanum Myeongjo', serif;
    }
    
    #user-info-div p:nth-child(5) {    
        position: absolute;
        left: 245px;
        top: 320px;
        font-family: 'Nanum Myeongjo', serif;
    }
    
    #main-score-info-div p:nth-child(1) {
        position: absolute;
        left: 465px;
        top: 230px;
        font-family: 'Nanum Myeongjo', serif;
    }
    
    #main-score-info-div p:nth-child(2) {
        position: absolute;
        left: 655px;
        top: 230px;
        font-family: 'Nanum Myeongjo', serif;
    }
    
    #main-score-info-div p:nth-child(3) {
        position: absolute;
        left: 465px;
        top: 295px;
        font-family: 'Nanum Myeongjo', serif;
    }
    
    #main-score-info-div p:nth-child(4) {
        position: absolute;
        left: 655px;
        top: 295px;
        font-family: 'Nanum Myeongjo', serif;
    }
    
    #detail-score-info-div p:nth-child(1) {
        position: absolute;
        left: 230px;
        top: 485px;
        font-family: 'Nanum Myeongjo', serif;
    }
    
    #detail-score-info-div p:nth-child(2) {
        position: absolute;
        left: 230px;
        top: 530px;
        font-family: 'Nanum Myeongjo', serif;
    }
    
    #detail-score-info-div p:nth-child(3) {
        position: absolute;
        left: 230px;
        top: 575px;
        font-family: 'Nanum Myeongjo', serif;
    }
    
    #detail-score-info-div p:nth-child(4) {
        position: absolute;
        left: 230px;
        top: 620px;
        font-family: 'Nanum Myeongjo', serif;
    }
    
    #detail-score-info-div p:nth-child(5) {
        position: absolute;
        left: 230px;
        top: 665px;
        font-family: 'Nanum Myeongjo', serif;
    }
    
    #detail-score-info-div p:nth-child(6) {
        position: absolute;
        left: 230px;
        top: 710px;
        font-family: 'Nanum Myeongjo', serif;
    }
    
    #detail-score-info-div p:nth-child(7) {
        position: absolute;
        left: 340px;
        top: 485px;
        font-family: 'Nanum Myeongjo', serif;
    }
    
    #detail-score-info-div p:nth-child(8) {
        position: absolute;
        left: 340px;
        top: 530px;
        font-family: 'Nanum Myeongjo', serif;
    }
    
    #detail-score-info-div p:nth-child(9) {
        position: absolute;
        left: 340px;
        top: 575px;
        font-family: 'Nanum Myeongjo', serif;
    }
    
    #detail-score-info-div p:nth-child(10) {
        position: absolute;
        left: 340px;
        top: 620px;
        font-family: 'Nanum Myeongjo', serif;
    }
    
    #detail-score-info-div p:nth-child(11) {
        position: absolute;
        left: 340px;
        top: 665px;
        font-family: 'Nanum Myeongjo', serif;
    }
    
    #detail-score-info-div p:nth-child(12) {
        position: absolute;
        left: 340px;
        top: 710px;
        font-family: 'Nanum Myeongjo', serif;
    }

    #chart-div img {
        position: absolute;
        left: 360px;
        top: 478px;
        width: 500px;
    }

    .qr-container div:nth-child(1){
        position: absolute;
        bottom: 100px;
        right: -1px;
    }

    .qr-container p:nth-child(n) {
        position: relative;
        font-size: 11px;
        left: 5px;
        top: 0px;
        color: #838383;
        padding: 5px 5px 0px 40px;
    }

    .main-body-footer {
        width: 840px;
    }

    .footer-verify-right {
        float :right;
        vertical-align: middle;
        width: 150px;
        height: 50px;
        font-size: 12px;
        /* font-weight: normal; */
        /* font-style: normal; */
        /* font-stretch: normal; */
        /* line-height: 50px; */
        /* letter-spacing: normal; */
        color: #878d91;
        text-align: right;
        /* margin: 30px 0px 0px; */
        text-decoration: underline;
        margin-right: 30px;
        position: relative;
        top: 14px;
        /* vertical-align: middle; */
    }

    .Group-10 {
        width: 83px;
        height: 16px;
        object-fit: contain;
        /* position: absolute; */
        /* top: 23px; */
        margin: 15px 0px 15px 0px;
    }

    .verify-loader {
        float: right;
        height: 20px;
        position: relative;
        top: 50%;
        margin-left: -10px;
        transform: translate(10%, -65%);
        font-size: 0;
    }

    .verify-loader-item {
        display: inline-block;
        width: 10px;
        height: 10px;
        margin-left: 5px;
        border-radius: 50%;
        background: black;
        
        animation: anim .8s infinite linear;
    }

    .verify-loader-item:nth-child(2) {
        animation-delay: -.6s;
    }

    .verify-loader-item:nth-child(3) {
        animation-delay: -.4s;
    }

    @keyframes anim {
        0%   { transform: translateY(0); opacity: .2; }
        50%  { transform: translateY(-10px); opacity: .6; }
        100% { transform: translateY(0); opacity: .2; }
    }

    .Shape {
        width: 22px;
        height: 22px;
        /* margin-top: 5px; */
    }
    /**/


    /**/
    #popup-dialog{
        width: 335px ;
        height: 615px;
        border-radius: 4px;
        background-color: #ffffff;
        box-shadow: 0 2px 3px 0 rgba(64, 64, 64, 0.5);  
        text-align: center;
        padding: 55px 0px 43px 0px !important;
      
      }
      #popup-dialog a{
          display: none;
      }
      
      #popup-dialog .popup-header{
          padding: 0px 43px 0px 42px ;
      }
      
      #popup-dialog img{
        width: 61px;
        height: 61px;   
      }
      
      
      #popup-dialog h2{
        font-size: 23px;
        font-weight: bold;
        text-align: center;
        color: #33333d;
        margin-top: 23px;
        margin-bottom: 7px;
      }
      
      #popup-dialog h3{
        font-size: 13px;
        font-weight: normal;
        line-height: 1.77;
        text-align: center;
        color: #7c848a;
        margin-top: 0px;
        margin-bottom: 44px;
      }
      
      #popup-dialog h4{
        font-size: 12px;
        font-weight: bold;
        text-align: left;
        color: #a9afb3;
      }
      
      .content{
          padding: 22px 43px 4px 42px;
          border-top: solid 1px #e2e8f0;
          border-bottom: solid 1px #eaeef3;
      }
      
      .content p span{
          margin-bottom: 20px;
      
      }
      .content p span:nth-child(1){
          float: left;
          font-size: 15px;
          font-weight: normal;
           color: #a9afb3;
      
      }
      .content p span:nth-child(2){
          float: right;
          font-size: 15px;
          font-weight: normal;
           color: #676767;
      }
      
      #popup-dialog  button{
          margin-top: 28px;
        width: 250px;
        height: 50px;
        border-radius: 3px;
        background-color: #4c80f1;
        font-size: 15px;
        font-weight: bold;
        text-align: center;
        color: #ffffff;
        border: none;
      }
}

@media screen and (max-width:839px) {
    .main-body {
        font-size: 10px;
        padding: 5px 0px;
    }

    .inner-container .mk-bg {
        background-image: url(/img/mycert/mk/mk_bg.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%
    }

    .inner-container img {
        width: 100%
    }

    #user-info-div img:nth-child(1) {
        position: absolute;
        left: 5px;
        top: 110px;
        width: 55px;       
    }    

    #user-info-div p:nth-child(2) {    
        position: absolute;
        left: 105px;
        top: 113px;
        font-family: 'Nanum Myeongjo', serif;
        -webkit-transform: scale(0.7);
    }
    
    #user-info-div p:nth-child(3) {    
        position: absolute;
        left: 99px;
        top: 129px;
        font-family: 'Nanum Myeongjo', serif;
        -webkit-transform: scale(0.7);
    }
    
    #user-info-div p:nth-child(4) {    
        position: absolute;
        left: 104px;
        top: 147px;
        font-family: 'Nanum Myeongjo', serif;
        -webkit-transform: scale(0.7);
    }
    
    #user-info-div p:nth-child(5) {    
        position: absolute;
        left: 102px;
        top: 165px;
        font-family: 'Nanum Myeongjo', serif;
        -webkit-transform: scale(0.7);
    }
    
    #main-score-info-div p:nth-child(1) {
        position: absolute;
        left: 200px;
        top: 117px;
        font-family: 'Nanum Myeongjo', serif;
        -webkit-transform: scale(0.7);
    }
    
    #main-score-info-div p:nth-child(2) {
        position: absolute;
        left: 282px;
        top: 117px;
        font-family: 'Nanum Myeongjo', serif;
        -webkit-transform: scale(0.7);
    }
    
    #main-score-info-div p:nth-child(3) {
        position: absolute;
        left: 200px;
        top: 150px;
        font-family: 'Nanum Myeongjo', serif;
        -webkit-transform: scale(0.7);
    }
    
    #main-score-info-div p:nth-child(4) {
        position: absolute;
        left: 284px;
        top: 150px;
        font-family: 'Nanum Myeongjo', serif;
        -webkit-transform: scale(0.7);
    }
    
    #detail-score-info-div p:nth-child(1) {
        position: absolute;
        left: 95px;
        top: 250px;
        font-family: 'Nanum Myeongjo', serif;
        -webkit-transform: scale(0.7);
    }
    
    #detail-score-info-div p:nth-child(2) {
        position: absolute;
        left: 95px;
        top: 272px;
        font-family: 'Nanum Myeongjo', serif;
        -webkit-transform: scale(0.7);
    }
    
    #detail-score-info-div p:nth-child(3) {
        position: absolute;
        left: 95px;
        top: 296px;
        font-family: 'Nanum Myeongjo', serif;
        -webkit-transform: scale(0.7);
    }
    
    #detail-score-info-div p:nth-child(4) {
        position: absolute;
        left: 95px;
        top: 319px;
        font-family: 'Nanum Myeongjo', serif;
        -webkit-transform: scale(0.7);
    }
    
    #detail-score-info-div p:nth-child(5) {
        position: absolute;
        left: 95px;
        top: 343px;
        font-family: 'Nanum Myeongjo', serif;
        -webkit-transform: scale(0.7);
    }
    
    #detail-score-info-div p:nth-child(6) {
        position: absolute;
        left: 95px;
        top: 366px;
        font-family: 'Nanum Myeongjo', serif;
        -webkit-transform: scale(0.7);
    }
    
    #detail-score-info-div p:nth-child(7) {
        position: absolute;
        left: 145px;
        top: 250px;
        font-family: 'Nanum Myeongjo', serif;
        -webkit-transform: scale(0.7);
    }
    
    #detail-score-info-div p:nth-child(8) {
        position: absolute;
        left: 145px;
        top: 272px;
        font-family: 'Nanum Myeongjo', serif;
        -webkit-transform: scale(0.7);
    }
    
    #detail-score-info-div p:nth-child(9) {
        position: absolute;
        left: 145px;
        top: 296px;
        font-family: 'Nanum Myeongjo', serif;
        -webkit-transform: scale(0.7);
    }
    
    #detail-score-info-div p:nth-child(10) {
        position: absolute;
        left: 145px;
        top: 319px;
        font-family: 'Nanum Myeongjo', serif;
        -webkit-transform: scale(0.7);
    }
    
    #detail-score-info-div p:nth-child(11) {
        position: absolute;
        left: 145px;
        top: 343px;
        font-family: 'Nanum Myeongjo', serif;
        -webkit-transform: scale(0.7);
    }
    
    #detail-score-info-div p:nth-child(12) {
        position: absolute;
        left: 145px;
        top: 366px;
        font-family: 'Nanum Myeongjo', serif;
        -webkit-transform: scale(0.7);
    }

    #chart-div img {
        position: absolute;
        left: 175px;
        top: 260px;
        width: 200px;
    }
}


@media print {

    /* -webkit-print-color-adjust: exact; */

    .inner-container img {
        width: 100%;        
    }
    
    html {
        background-color: white;         
    }   

    .qr-container div:nth-child(1){
        position: absolute;
        bottom: 110px;
        right: 45px;
    }

    .qr-container p:nth-child(n) {
        position: relative;
        font-size: 11px;
        left: 5px;
        top: 0px;
        color: #838383;
        padding: 5px 5px 0px 40px;
    }

    #user-info-div img:nth-child(1) {
        position: absolute;
        left: 15px;
        top: 205px;
        width: 113px;
        font-family: 'Nanum Myeongjo', serif;
    }    

    #user-info-div p:nth-child(2) {    
        position: absolute;
        left: 245px;
        top: 220px;
        font-family: 'Nanum Myeongjo', serif;
    }
    
    #user-info-div p:nth-child(3) {    
        position: absolute;
        left: 245px;
        top: 250px;
        font-family: 'Nanum Myeongjo', serif;
    }
    
    #user-info-div p:nth-child(4) {    
        position: absolute;
        left: 245px;
        top: 285px;
        font-family: 'Nanum Myeongjo', serif;
    }
    
    #user-info-div p:nth-child(5) {    
        position: absolute;
        left: 245px;
        top: 320px;
        font-family: 'Nanum Myeongjo', serif;
    }
    
    #main-score-info-div p:nth-child(1) {
        position: absolute;
        left: 465px;
        top: 230px;
        font-family: 'Nanum Myeongjo', serif;
    }
    
    #main-score-info-div p:nth-child(2) {
        position: absolute;
        left: 655px;
        top: 230px;
        font-family: 'Nanum Myeongjo', serif;
    }
    
    #main-score-info-div p:nth-child(3) {
        position: absolute;
        left: 465px;
        top: 295px;
        font-family: 'Nanum Myeongjo', serif;
    }
    
    #main-score-info-div p:nth-child(4) {
        position: absolute;
        left: 655px;
        top: 295px;
        font-family: 'Nanum Myeongjo', serif;
    }
    
    #detail-score-info-div p:nth-child(1) {
        position: absolute;
        left: 230px;
        top: 480px;
        font-family: 'Nanum Myeongjo', serif;
    }
    
    #detail-score-info-div p:nth-child(2) {
        position: absolute;
        left: 230px;
        top: 525px;
        font-family: 'Nanum Myeongjo', serif;
    }
    
    #detail-score-info-div p:nth-child(3) {
        position: absolute;
        left: 230px;
        top: 570px;
        font-family: 'Nanum Myeongjo', serif;
    }
    
    #detail-score-info-div p:nth-child(4) {
        position: absolute;
        left: 230px;
        top: 610px;
        font-family: 'Nanum Myeongjo', serif;
    }
    
    #detail-score-info-div p:nth-child(5) {
        position: absolute;
        left: 230px;
        top: 655px;
        font-family: 'Nanum Myeongjo', serif;
    }
    
    #detail-score-info-div p:nth-child(6) {
        position: absolute;
        left: 230px;
        top: 700px;
        font-family: 'Nanum Myeongjo', serif;
    }
    
    #detail-score-info-div p:nth-child(7) {
        position: absolute;
        left: 340px;
        top: 480px;
        font-family: 'Nanum Myeongjo', serif;
    }
    
    #detail-score-info-div p:nth-child(8) {
        position: absolute;
        left: 340px;
        top: 525px;
        font-family: 'Nanum Myeongjo', serif;
    }
    
    #detail-score-info-div p:nth-child(9) {
        position: absolute;
        left: 340px;
        top: 570px;
        font-family: 'Nanum Myeongjo', serif;
    }
    
    #detail-score-info-div p:nth-child(10) {
        position: absolute;
        left: 340px;
        top: 610px;
        font-family: 'Nanum Myeongjo', serif;
    }
    
    #detail-score-info-div p:nth-child(11) {
        position: absolute;
        left: 340px;
        top: 655px;
        font-family: 'Nanum Myeongjo', serif;
    }
    
    #detail-score-info-div p:nth-child(12) {
        position: absolute;
        left: 340px;
        top: 700px;
        font-family: 'Nanum Myeongjo', serif;
    }

    #chart-div img {
        position: absolute;
        left: 365px;
        top: 470px;
        width: 480px;
    }
}