@media screen and (min-width:840px){

    /* .outer-container {
        height : calc(840px*1.41*2);
        padding-top: 0px;
        border: solid 1px #dfe5ef;
        /* box-shadow: 0 1px 2px 0 rgba(188, 188, 188, 0.5); */
    } */
   
    .inner-container {
        margin: auto;
    }

    .inner-container img {
        width: 100%;        
    }



    .inner-container:nth-child(3) {
        margin-top: 5px;
    }

    
    .qr-container div:nth-child(1){
        position: absolute;
        bottom: 15px;
        right: 39px;
        width: 50px;
        height: 50px;
    }

    .qr-container p:nth-child(2) {
        position: relative;
        font-size: 11px;
        left: 5px;
        top: -99px;
        color: #838383;
        padding: 5px 5px 0px 40px;
    }

    .qr-container p:nth-child(3) {
        position: relative;
        font-size: 11px;
        left: 5px;
        top: -99px;
        color: #838383;
        padding: 5px 5px 0px 40px;
    }


    #certno {
        font-size: 11px;
        font-weight: 500;
         padding: 15px 0px 3px 45px;
        color: #838383;
    }

    #opic_cert p:nth-child(1) {position: absolute; top: 16%; left: 44.5%; }
    #opic_cert p:nth-child(2) {position: absolute; top: 145px; left: 395px; font-size: 16px}
    #opic_cert p:nth-child(3) {position: absolute; top: 215px; left: 300px;}
    #opic_cert p:nth-child(4) {position: absolute; top: 215px; left: 340px;}
    #opic_cert p:nth-child(5) {position: absolute; top: 215px; left: 480px;}
    #opic_cert p:nth-child(6) {position: absolute; top: 215px; left: 620px;}
    #opic_cert p:nth-child(7) {position: absolute; top: 290px; left: 480px;}
    #opic_cert p:nth-child(8) {position: absolute; top: 440px; left: 570px;}
    #opic_cert p:nth-child(9) {position: absolute; top: 440px; left: 680px;}

    /* #opic_report p:nth-child(1) {position: absolute; top: 12.3%; left: 25.2%;}
    #opic_report p:nth-child(2) {position: absolute; top: 14.8%; left: 27%;}
    #opic_report p:nth-child(3) {position: absolute; top: 17.3%; left: 24.4%;}
    #opic_report p:nth-child(4) {position: absolute; top: 17.7%; left: 27.5% }
    #opic_report p:nth-child(5) {position: absolute; top: 21.3%; left: 27.5% } */

    #opic_report p:nth-child(1) {position: absolute; top: 0%; left: 24.4%;}
    #opic_report p:nth-child(2) {position: absolute; top: 145px; left: 230px;}
    #opic_report p:nth-child(3) {position: absolute; top: 173px; left: 230px;}
    #opic_report p:nth-child(4) {position: absolute; top: 201px; left: 230px; }
    #opic_report p:nth-child(5) {position: absolute; top: 240px; left: 230px; }
/*     

     #opic_cert p:nth-child(1) {position: absolute; top: 9.3%; left: 50%; width:200px;} 
    #opic_cert p:nth-child(2) {position: absolute; top: 145px; left: 400px;width:200px;}
    #opic_cert p:nth-child(3) {position: absolute; top: 13.8%; left: 42%; width:200px;}
    #opic_cert p:nth-child(4) {position: absolute; top: 12%; left: 59%; width:200px;}
    #opic_cert p:nth-child(5) {position: absolute; top: 10.3%; left: 75.5%; width:200px;}
    #opic_cert p:nth-child(6) {position: absolute; top: 15%; left: 50.5%; width:200px; }
    #opic_cert p:nth-child(7) {position: absolute; top: 26%; left: 69%; width:200px; }
    #opic_cert p:nth-child(8) {position: absolute; top: 24.3%; left: 82.5%; width:200px; }

    #opic_cert p:nth-child(9) {position: relative; top: 36.7%; left: 82% } 

    #opic_report p:nth-child(1) {position: absolute; top: 10.5%; left: 27.5%; width:200px; }
    #opic_report p:nth-child(2) {position: absolute; top: 12.5%; left: 27.5%; width:200px; }
    #opic_report p:nth-child(3) {position: absolute; top: 15%; left: 27.5%; width:200px; }
    #opic_report p:nth-child(4) {position: absolute; top: 17.4%; left: 27.5%; width:200px; } */


    html{
        font-size:14px;
    }    


@media screen and (max-width:839px){
    
    
    html{
        font-size:9px;
    }


    /* .outer-container {
        height: calc(490px * 1.4 * 2);
        width: 490px;
    } */

    /* #opic_cert p:nth-child(1) {position: absolute; top: 16%; left: 44.5%;-webkit-transform: scale(0.8); } */
    #opic_cert p:nth-child(2) {position: absolute; top: 78px; left: 140px;-webkit-transform: scale(0.7);}
    #opic_cert p:nth-child(3) {position: absolute; top: 100px; left: 100px; -webkit-transform: scale(0.7);}
    #opic_cert p:nth-child(4) {position: absolute; top: 110px; left: 120px; -webkit-transform: scale(0.7);}
    #opic_cert p:nth-child(5) {position: absolute; top: 110px; left: 181px; -webkit-transform: scale(0.7);}
    #opic_cert p:nth-child(6) {position: absolute; top: 110px; left: 244px;-webkit-transform: scale(0.7); }
    #opic_cert p:nth-child(7) {position: absolute; top: 140px; left: 181px; -webkit-transform: scale(0.7);}
    #opic_cert p:nth-child(8) {position: absolute; top: 210px; left: 210px; -webkit-transform: scale(0.6);}
    #opic_cert p:nth-child(9) {position: absolute; top: 210px; left: 285px; -webkit-transform: scale(0.6);}

    /* #opic_report p:nth-child(1) {position: absolute; top: 50px; left: 60px; -webkit-transform: scale(0.7);} */
    #opic_report p:nth-child(2) {position: absolute; top: 60px; left: 60px; -webkit-transform: scale(0.6); }
    #opic_report p:nth-child(3) {position: absolute; top: 72px; left: 60px; -webkit-transform: scale(0.6); }
    #opic_report p:nth-child(4) {position: absolute; top: 85px; left: 60px; -webkit-transform: scale(0.6);}
    #opic_report p:nth-child(5) {position: absolute; top: 21%; left: 27.5%; -webkit-transform: scale(0.6);}
}



@media print{

    html{
        font-size:14px;
    }    

    #opic_cert p:nth-child(1) {position: absolute; top: 16%; left: 44.5%; }
    #opic_cert p:nth-child(2) {position: absolute; top: 145px; left: 390px;}
    #opic_cert p:nth-child(3) {position: absolute; top: 220px; left: 40.5%;}
    #opic_cert p:nth-child(4) {position: absolute; top: 220px; left: 350px;}
    #opic_cert p:nth-child(5) {position: absolute; top: 220px; left: 480px;}
    #opic_cert p:nth-child(6) {position: absolute; top: 220px; left: 610px;}
    #opic_cert p:nth-child(7) {position: absolute; top: 280px; left: 480px;}
    #opic_cert p:nth-child(8) {position: absolute; top: 430px; left: 550px;}
    #opic_cert p:nth-child(9) {position: absolute; top: 430px; left: 660px;}

    /* #opic_report p:nth-child(1) {position: absolute; top: 12.3%; left: 25.2%;}
    #opic_report p:nth-child(2) {position: absolute; top: 14.8%; left: 27%;}
    #opic_report p:nth-child(3) {position: absolute; top: 17.3%; left: 24.4%;}
    #opic_report p:nth-child(4) {position: absolute; top: 17.7%; left: 27.5% }
    #opic_report p:nth-child(5) {position: absolute; top: 21.3%; left: 27.5% } */

    #opic_report p:nth-child(1) {position: absolute; top: 0%; left: 24.4%;}
    #opic_report p:nth-child(2) {position: absolute; top: 150px; left: 230px;}
    #opic_report p:nth-child(3) {position: absolute; top: 178px; left: 230px;}
    #opic_report p:nth-child(4) {position: absolute; top: 206px; left: 230px; }
    #opic_report p:nth-child(5) {position: absolute; top: 240px; left: 230px; }

    .qr-container div:nth-child(1){
        position: absolute;
        bottom: 100px;
        right: 50px;
        width:75px;
        height: 75px;
    }

    .qr-container p:nth-child(n) {
        position: relative;
        font-size: 11px;
        left: 5px;
        top: 0px;
        color: #838383;
        padding: 5px 5px 0px 40px;
    }
}
