table {
    /* border: 1px solid black; */
    border-collapse: collapse;
    width: 100%;
}

.personinfo1 {
    width: 100%;
}

.cert_doc_id {

}

.cert_title {
    width:100%;
    text-align: center;
}

.sector_col_name {
    border-bottom: 1px solid black;
}

.sungjuk_sector_1 {
    border: 0px;
}

.sungjuk_sector_2 {
    border: 0px;
}

.sungjuk_sector_3 {
    border: 0px;
}

.sungjuk_sector_1_div {
    border: 1px solid black;
    height: 620px;
}

.sungjuk_sector_2_div {
    border: 1px solid black;
    height: 620px;
}

.sungjuk_sector_3_div {
    border: 1px solid black;
    height: 620px;
}

.cert-reference-RCOGC0011 {
    font-family: 'Nanum Myeongjo';
    font-size: 34px;
    font-weight: bold;
    letter-spacing: 30px;
    text-align: center;
    position: relative;
    width: 100%;
    text-align: center;
    z-index: 1;
    margin: 80px 0px 0px 0px;
}

.cert-footer-RCOGC0011 {
    position: relative;
    font-family: 'Nanum Myeongjo';
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 10px;
    text-align: center;
    margin: 50px 0px 0px 0px;
    width: 100%;
}

.persoinfodiv1 {
    border: 1px solid black;
}

.persoinfodiv2 {
    border: 1px solid black;
}

.persoinfodiv3 {
    border: 1px solid black;
}

.personinfo_name {
    width:87px;
    text-align:right;
}