table {
    /* border: 1px solid black; */
    border-collapse: collapse;
    width: 100%;
}

/* .stamp & .inner-container 공통으로 쓰이나, 졸업증명서 전용 스탬프와 위치값 입력 시작 */
.stamp {
    margin-left: -95px;
    margin-top: -20px;
    width: 100px;
    height: 100px;
}
/* 
.inner-container {
    margin: auto;
    position: relative;
    border: 2px solid #666666;
    width: 95%;
    height:90%;
} */

.outer-container{

    
    /* padding: 20mm; set contents area */
    /* margin: 10mm auto; */
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
 }
 
 .inner-container {
    width: 210mm;
    min-height: 297mm;
    padding: 0;
    border: 1px #888 dotted;
    height: 290mm;
 }


/* 공통 부분 중복 입력 종료 */ 

.personinfo1 {
    width: 100%;
}

.cert_doc_id {font-size: 11px;font-weight: 500;padding: 15px 0px 3px 45px;color: #838383;}

.cert_title {
    width:100%;
    text-align: center;
    font-family: 'Spoqa Han Sans';
    font-size:48px;
    margin-top: 10%;
    width: 100%;
    text-align: center;
    font-family: 'Nanum Myeongjo';
    font-size: 34px;
    font-weight: bold;
    margin-top: 10%;
    letter-spacing: 35px;
}

.sector_col_name {
    border-bottom: 1px solid black;
}

.sungjuk_sector_1 {
    border: 0px;
}

.sungjuk_sector_2 {
    border: 0px;
}

.sungjuk_sector_3 {
    border: 0px;
}

.sungjuk_sector_1_div {
    border: 1px solid black;
    height: 620px;
    border-left:0px;
}

.sungjuk_sector_2_div {
    border: 1px solid black;
    height: 620px;
    border-left:0px;
}

.sungjuk_sector_3_div {
    border: 1px solid black;
    height: 620px;
    border-left:0px;
    border-right:0px;
}

.cert-main-agent-msg {
    text-align: center;
    margin-top: 72px;
    font-family: 'nanum myeongjo';
    letter-spacing: 10px;
    font-weight: bold;
    font-size: 20px;
}


.cert-reference-default {
    font-family: 'Nanum Myeongjo';
    font-size: 34px;
    font-weight: bold;
    letter-spacing: 30px;
    text-align: center;
    left: 8%;
    position: relative;
    width: 100%;
    z-index: 1;
    margin: 115px 50px 50px 50px;
}

.cert-footer-default {
    position: relative;
    font-family: 'Nanum Myeongjo';
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 10px;
    text-align: center;
    margin: 50px 0px 0px 0px;
    width: 100%;
    bottom:-45px;
}

.cert-body-default {
    height: 50%;
    position: relative;
    left: 23%;
    top: 9%;
    font-family: 'Spoqa Han Sans';
}

.persoinfodiv1 {
    border: 1px solid black;
    border-left: 0px;
    border-bottom:0px;
}

.persoinfodiv2 {
    border: 1px solid black;
    border-left: 0px;
    border-bottom:0px;
}

.persoinfodiv3 {
    border: 1px solid black;
    border-left: 0px;
    border-right: 0px;
    border-bottom:0px;
}

.personinfo_name {
    width:87px;
    text-align:right;
}

.two-interval {
    width: 130px;
    display: inline-block;
}

.four-interval {
    width: 26px;
    display: inline-block;
}

.body-line {
    height: 50px;
    font-size: 17px;
    letter-spacing: 10px;
}

.qr-container div:nth-child(1){
    position: absolute;
    bottom: -57px;
    right: 25px;
    width: 75px;
    height: 75px;
}

.qr-container p:nth-child(n) {
    position: relative;
    font-size: 11px;
    left: 5px;
    top: 70px;
    color: #838383;
    padding: 5px 5px 0px 40px;
}

@media screen and (max-width:839px) {
    .inner-container {
        -webkit-transform: scale(0.43);
        position: relative;
        top: -337px;
        left: -218px;
    } 
    
    .outer-container {
        width: 360px;
        height: calc(360px*1.41);        
    }
}

@media print and (max-width:839px){
    .inner-container{
        position: relative;
        
        left:-220px;
    }

    .qr-container div:nth-child(1){
        position: absolute;
        bottom: -85px;
        right: 0px;
        width: 75px;
        height: 75px;
    }

    .qr-container p:nth-child(n) {
        position: relative;
        font-size: 11px;
        left: 5px;
        top: 80px;
        color: #838383;
        padding: 5px 5px 0px 40px;
    }

}

@media print and (min-width:840px){

    /* -webkit-print-color-adjust: exact; */

    html {
        
    }   

    .print-div {        
        margin-top: 20px;
        padding: 20px 20px;
    }

    .stamp {
        margin-left: -95px;
        margin-top: -20px; 
        width: 100px;
        height: 100px;
    }

    .qr-container div:nth-child(1){
        position: absolute;
        bottom: -90px;
        right: 0px;
        width: 100px;
        height: 100px;
    }

    .qr-container p:nth-child(n) {
        position: relative;
        font-size: 11px;
        left: 5px;
        top: 80px;
        color: #838383;
        padding: 5px 5px 0px 40px;
    }

   

  
}