table {
    /* border: 1px solid black; */
    border-collapse: collapse;
    width: 100%;
}

.personinfo1 {
    width: 100%;
}
/*공통이나, 성적증명서 용으로 두개 활용 */

.inner-container{
	    margin: auto;
    position: relative;
    border: 2px solid #666666;
    width: 95%;
    height: 90%;
}

.personinfo_outter{
	display: flex;
    font-size: 75%;
}
.cert_doc_id {font-size: 11px;font-weight: 500;padding: 15px 0px 3px 45px;color: #838383;}

.cert_title {
    width:100%;
    text-align: center;
    /* width: 100%; */
    text-align: center;
    font-family: 'Nanum Myeongjo';
    font-size: 25px;
    font-weight: bold;
    /* margin-top: 10%; */
    letter-spacing: 25px;
}

.cert-main-agent-msg{text-align: center;margin-top: 72px;font-family: 'nanum myeongjo';letter-spacing: 10px;font-weight: bold;font-size: 20px;}
.sector_col_name {
    border-bottom: 1px solid black;
}

.sungjuk_sector_1 {
    border: 0px;
}

.sungjuk_sector_2 {
    border: 0px;
}

.sungjuk_sector_3 {
    border: 0px;
}

.sungjuk_sector_1_div {
    border: 1px solid black;
    height: 100%;
    border-left:0px;
}

.sungjuk_sector_2_div {
    border: 1px solid black;
    height: 100%;
    border-left:0px;
}

.sungjuk_sector_3_div {
    border: 1px solid black;
    height: 100%;
    border-left:0px;
    border-right:0px;
}

.cert-reference-default {
    font-family: 'Nanum Myeongjo';
    font-size: 34px;
    font-weight: bold;
    letter-spacing: 30px;
    text-align: center;
    position: relative;
    width: 100%;
    text-align: center;
    /* z-index: 1; */
    margin: 50px;
    left: 6%;
}

.cert-footer-default {
    position: relative;
    font-family: 'Nanum Myeongjo';
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 10px;
    text-align: center;
    margin: 50px 0px 0px 0px;
    width: 100%;
}

.persoinfodiv1 {
    border: 1px solid black;
    border-left: 0px;
    border-bottom:0px;
}

.persoinfodiv2 {
    border: 1px solid black;
    border-left: 0px;
    border-bottom:0px;
}

.persoinfodiv3 {
    border: 1px solid black;
    border-left: 0px;
    border-right: 0px;
    border-bottom:0px;
}

.personinfo_name {
    width:15%;
    text-align:right;
    letter-spacing: 1.5px;
}

@media screen and (max-width: 1000px){
    .personinfo_outter {
        font-size: 65%;
    }

    .inner-container{
	    width: 550px;
	    height: 1000px;
	    margin: 20px 15px 52px 15px;
		background: white;
		font-size:60%;
	}
}
